[2019-06-21 19:20] raphaeleidus opened #1 "Question: Definition for TODO - Performance Comparison"
It would be great to have some thoughts on what a performance comparison should look like.
Is it timing around running a bunch of JS code?
Is it timing around making a bunch of bridge module calls?
Is it taking an app and comparing the scroll performance?
Some mix of all of the above?

If you can start with defining that TODO a little more clearly I might be able to start the comparison and send i

[2019-06-22 17:32] Kudo commented on #1
@raphaeleidus Thank you for the good question.

I used to measure by the scripts from jsc-android-buildscripts.
https://github.com/react-native-community/jsc-android-buildscripts/tree/master/measure
There are some pure JS benchmarks and two React Native rendering cases.

However, we are not sure if that benchmarks fit with real apps.
If you have some idea, maybe it is worth to create a proposal at

[2019-07-05 04:33] bhaskarGyan opened #2 "Intermittent App crash when showing Alert from "react-native""
App is crashing when using Alert module from react-native.

Same App (release APK) is working fine with jsc-android@latest, jsc-android@next and with RN debugger(while running in dev mode)

I am getting two different stack trace but every time there is Intermittent App crash while showing the Alert

**Stack-trace 1**
[code]

**Stack-trace 2**
[code]

**Environment:**
React Native Version 0.60.0
OS

[2019-07-05 17:47] Kudo commented on #2
I could reproduce this crash, will try to troubleshoot and fix the problem.
Thank you.

[2019-07-08 15:49] #2 closed

[2019-07-08 17:03] Kudo commented on #2
@bhaskarGyan Thanks for reporting this.
I've published `@0.60.0-patch.2` for this issue and assuming this will help about the crash.

[2019-07-09 00:23] andresesfm opened #4 "[Android] Error when loading lib: dlopen failed: library "libjsc.so""
After following implementation steps in README.md. The app compiles and attempts to launch  but crashes with the following exception:
[code]

According to https://stackoverflow.com/questions/43368926/android-reactnative-java-lang-unsatisfiedlinkerrorcould-find-dso-to-load-libre This could be related to a missing 64bit library.

Note that we cannot revert to 32bit since Google will soon enforce 64b

[2019-07-09 05:58] Kudo commented on #4
What is your RN version?
Could you please also check your build.gradle if there are any `url("$rootDir/../node_modules/react-native/android")`?
Please make sure to exclude official RN maven repo and use the react-native-v8 repo instead.
Thanks.

[2019-07-09 17:31] andresesfm commented on #4
Hello, we are using RN `0.59.9`
Yes, there is a reference to that path:
[code]
Removing it causes the following compilation error:
[code]
At first, I thought it would be something related to that particular project but if I remove that reference then another module fails with a similar error.

By your question about the version, I assume you are thinking that the library was compiled with a lower

[2019-07-09 17:33] andresesfm commented on #4
Or actually, quite the opposite, I just looked at the `package.json` file and it provides `"RN_VERSION": "v0.60.0"`

[2019-07-10 05:09] bhaskarGyan commented on #4
@andresesfm react-native version and react-native-v8 version should be same.

![image](https://user-images.githubusercontent.com/10504808/60942077-f22dee00-a2fe-11e9-858b-be017add03e2.png)

[2019-07-10 09:17] noomorph opened #5 "feature request: support bytecode bundles"
Hi, @Kudo!

First of all, thank you for your hard and useful work.

I was wondering if there is a way to make your V8 fork of RN generate and consume bytecode bundles instead of parsing plain JS text bundles, to speed up cold launch time?

If there is one, I'm sorry for asking something obvious, but could you point to an example of how to set this up?

I have on my mind things like [bytenode](http

[2019-07-10 11:24] Kudo commented on #4
Yes as @bhaskarGyan said, the version should be matched.
Currently, 0.59.x is not supported yet. are there any reasons not to try RN 0.60?

[2019-07-10 11:40] Kudo commented on #5
For bytecode caching, should find a chance to call V8's `CreateCodeCache()` to generate the cache and load the CacheData accordingly.

For V8 snapshot (which may like the bytecode bundle), my thought is about to use V8's mksnapshot to convert plain JS text into native bytecode format.
However, it may need to modify more RN internal code.
This is in my plan and will have a time to do this experimen

[2019-07-11 00:32] andresesfm commented on #4
Yup, it makes sense. We have a task to update to .60 but since it requires a big overhaul due to the androidx change

[2019-07-11 00:32] #4 closed

[2019-07-15 17:58] bhaskarGyan opened #6 "Question: Future of react-native-v8"
Hi @Kudo , Since react has officially launch Hermes, what would be future of this package?
Will it co exist with Hermas and user can opt in for react-native-v8 base on use case for future versions of react-native?

I am not able to compare performance of this package with Hermes due to an open issue in react-native https://github.com/facebook/react-native/issues/25601.

Will share the perf result

[2019-07-16 01:22] Kudo commented on #6
@bhaskarGyan Yes, I will keep maintain react-native-v8. V8 also has some advanced features like Intl or WebAssembly, it should be good for RN user to have another JS runtime option.

And thanks for your work to compare memory info between these runtimes.
Will take a look for the Hermes RN integration issue you mentioned.

[2019-07-16 16:40] bhaskarGyan commented on #6
Awesome...

Thanks for all the hard work you have put in into react-native-v8.

Also, I am now able to use Hermes. Based on initial observation Hermas looks good but not better than v8 in terms of memory allocation(during stress testing).

I will share the results of v8 vs Hermas shortly

[2019-07-16 16:40] #6 closed

[2019-07-25 03:41] xmw1992 opened #7 "You can show the android complete build.grade"
I follow your procedure and can't replace the engine.can you show the complete build.grade? or provide a demo！
look forward to your reply
thank you!

[2019-07-25 06:14] xmw1992 commented on #7
when  I to run-android  this error :
07-25 14:13:09.920 7497-7553/com.rnv8demo E/SoLoader: couldn't find DSO to load: libhermes.so
07-25 14:13:09.921 7497-7553/com.rnv8demo E/AndroidRuntime: FATAL EXCEPTION: create_react_context
    Process: com.rnv8demo, PID: 7497
    java.lang.UnsatisfiedLinkError: couldn't find DSO to load: libhermes.so
        at com.facebook.soloader.SoLoader.doLoadLibraryByS

[2019-07-25 09:39] Kudo commented on #7
I guess you enabled Hermes.
Please make sure that `enableHermes` is false in `android/app/build.gradle`.

[2019-07-25 10:52] Kudo commented on #1
Just to update that I had some result already.
https://github.com/Kudo/react-native-js-benchmark
I am going to close this issue and feel free to open new issue at that repo if you have any further questions.
Thank you so much.

[2019-07-25 10:52] #1 closed

[2019-07-26 02:44] xmw1992 commented on #7
thank you for your reply!
but I didn't open it. enableHermes  is false
and I create a new demo ,this react-native version 0.60.4
maybe I can post my build.grade for your

packagingOptions {
        pickFirst '**/armeabi-v7a/libc++_shared.so'
        pickFirst '**/x86/libc++_shared.so'
        pickFirst '**/arm64-v8a/libc++_shared.so'
        pickFirst '**/x86_64/libc++_shared.so'
        pickFirst

[2019-07-26 02:49] Kudo commented on #7
Curiously, what's the react-native-v8 version you used?
For RN 0.60.4, you should use `yarn add 'react-native-v8@>=0.60.4-patch.0 <0.60.5'`
I.e. the react-native-v8 version should match with react-native.

[2019-07-26 02:54] xmw1992 commented on #7
ok
 I use the react-native-v8@0.60.3-patch.0
I  update react-native-v8 version to try
thank you! Kudo

[2019-07-26 03:18] xmw1992 commented on #7
oh!!  Kudo I'm sorry to trouble you again.
I update this version -->"react-native-v8": ">=0.60.4-patch.0 <0.60.5"
and the result is  global._v8runtime is not a function
I'd like to consult you. how to config this

dependencies {
    implementation fileTree(dir: "libs", include: ["*.jar"])
    implementation "com.facebook.react:react-native:+"  // From node_modules
    // Add v8-android - prebuilt

[2019-07-26 03:50] xmw1992 commented on #7
hi! Kudo
 simulator can use v8 engine?

[2019-07-26 10:19] Kudo commented on #7
I just initiated a project from pure RN 0.60.4.
Please take a look the patch file to apply V8. https://gist.github.com/Kudo/fa8e5afc688b678c1fe08e7b00433991#file-rn_v8_0_60_4-patch
In case you need step-by-step, there is also an apply.sh
https://gist.github.com/Kudo/fa8e5afc688b678c1fe08e7b00433991#file-apply-sh

react-native-v8 should work well on Android emulators.

[2019-07-26 10:30] xmw1992 commented on #7
ok I try!
 thank you  very much!

[2019-07-27 01:57] xmw1992 commented on #7
wow, it's cool.
I finally succeeded in running it.
thank you very much for your patient guidance.
thank you! Kudo

[2019-07-27 01:57] #7 closed

[2019-07-29 03:29] sapjax commented on #1
@Kudo
According to the result, `v8 7.5.1 arm32 JIT` has the best performance?

[2019-07-29 08:23] Kudo commented on #1
@sapjax Yes, and it should be expected.
jsc-android we only turn on Baseline JIT (and disabled DFG JIT and FTL JIT).
Hermes, on the other hand, does not have JIT.

Well, memory usage / CPU / binary size might be another story compared with performance.
I will add memory / CPU benchmark if I have some free time.

[2019-08-02 02:26] uiue opened #8 "How can I support iOS?"
How can I support iOS, our app is an enterprise app, no need to go to the app store.

[2019-08-02 07:32] Kudo commented on #8
Just curious for the intention to use V8 on iOS.
V8 on iOS is relatively new and landed after V8 7.5: https://v8.dev/docs/cross-compile-ios.
JSC also optimizes JIT for ARM64E devices which performance may be better than V8 on iOS.

[2019-08-03 12:29] songxiaoliang opened #9 "Whether to support versions prior to RN 0.6？"
Whether to support versions prior to RN 0.6

[2019-08-05 06:41] uiue commented on #8
I saw this article on performance issues, maybe the iOS version of JSC has the same problem?
[https://dev.to/anotherjsguy/react-native-memory-profiling-jsc-vs-v8-vs-hermes-1c76](url)

[2019-08-06 03:18] Kudo commented on #9
I have added a version to support RN 0.59.10.
`yarn add 'react-native-v8@>=0.59.10-patch.0 <0.59.11'`
The other setup instructions are pretty much same as in [README](https://github.com/Kudo/react-native-v8/blob/master/README.md#integration-with-react-native).

For version prior RN 0.59.10,  I am not considering to backport in the mean time.
Hopefully this 0.59.10 version did help for you.

[2019-08-06 03:23] Kudo commented on #4
@andresesfm FYI. As there are many people getting frustration to upgrade 0.60 for AndroidX, I did backport RN V8 support to 0.59.10.
`yarn add 'react-native-v8@>=0.59.10-patch.0 <0.59.11'`

[2019-08-06 03:23] Kudo commented on #9
I am getting to close this issus. Feel free to let me know if you have any other questions.

[2019-08-06 03:23] #9 closed

[2019-08-06 03:28] songxiaoliang commented on #9
@Kudo Hi Kudo, I am very happy to receive such a wonderful reply. Currently my project is based on React Native: 0.57.7. In particular, I want to improve the current js engine on the Android side to improve the performance of the experience. So, is there a consideration for compatibility with 0.57? Or do you have any better solutions for me? Thanks again

[2019-08-06 03:42] Kudo commented on #8
IMHO, that is the case specific for Android.
JS engine has many configurations and jsc-android only enable Baseline JIT.
However, builtin JSC on iOS should enable all JIT tiers and Apple did implement some optimizations specific for iOS.
I was thinking the JSC performance on iOS should be better.

[2019-08-06 05:06] Kudo commented on #9
I am sorry that RN 0.57 still use old way to integrate JS engine. i.e. the [JSExecutor](https://github.com/facebook/react-native/blob/0.57-stable/ReactCommon/cxxreact/JSExecutor.h).
My work is based on RN JSI which is incompatible with JSExecutor.
I don't have plan to backport JSExecutor, sorry for that.

[2019-08-06 05:53] songxiaoliang commented on #9
@Kudo Thanks, getting better and better

[2019-08-08 01:50] uiue commented on #8
iOS JSC not open JIT feature. Our app doesn't need to be on the Apple Store, so we don't need Apple to review, we want to open JIT.

[2019-08-09 05:55] smacgregor opened #10 "Crash in V8PointerValue::Get"
We started rolling out the 0.59.10 version of react-native-v8 (thank you for making that available!)

[code]

We are seeing this frequent crasher:

[code]

Similar to https://github.com/Kudo/react-native-v8/issues/2?

[2019-08-09 07:31] Kudo commented on #10
Thanks for reporting this. Do you have any reproduced steps and code? The would be helpful to troubleshoot.

[2019-08-09 08:00] Kudo commented on #8
It makes sense. Thank you that I just realized that iOS built in JSC is JIT-less.

However, I have no short term plan to support iOS.
An alternative solution for your reference, to have custom build JavaScriptCore.Framework and link RN iOS to the custom framework. That might be a way to have JIT enabled JavaScriptCore.

[2019-08-10 05:20] HeartWalker opened #11 "debug ,global._v8runtime is not a function"
when i use Debug JS Remote, global._v8runtime is not a function,
if i close, it's ok

[2019-08-13 04:15] Kudo commented on #11
@HeartWalker Remote debugging in fact runs JS engine in your hosted Chrome, not the V8 on device, so that `global._v8runtime` is undefined.

[2019-08-15 06:45] ITJesse opened #13 "Run code directly from dev server cause Non-Ascii characters garbled"
![image](https://user-images.githubusercontent.com/3601376/63077541-985eba80-bf73-11e9-9545-a172c1041336.png)

[2019-08-15 06:49] RageBill commented on #13
I have the same problem when running in dev environment. However, once I have my debugger turned on, the app runs normally. This is a very weird error regarding Non-ASCII characters.

[2019-08-15 09:58] ITJesse commented on #13
@RageBill When you turn the debugger on, the code is running on the debugger, not on your phone.

[2019-08-15 10:07] Kudo commented on #13
@ITJesse For the broken text, do you have any special properties, like custom font?
How about to share some code here?
E.g.
[code]

And it looks like the text on your UI bottom sheet is correct, what is the difference between these text?

At last, what is the React Native version you used?

[2019-08-15 10:49] ITJesse commented on #13
@Kudo I am using styled-components for styling.
The bottom sheet is a part of native, not RN.

React Native: 0.59.10

[2019-08-15 10:52] ITJesse commented on #13
I can confirm that every Non-ASCII character is broken.

[2019-08-15 11:09] Kudo commented on #13
I've tried on 0.59.10 but works for me.
Let me try styled-components.

[2019-08-15 11:19] Kudo commented on #13
@ITJesse
This works for me.

[code]

[2019-08-15 15:48] Kudo commented on #11
I am getting to close this issue. Please feel free to let me know if there are any further problems.

[2019-08-15 15:48] #11 closed

[2019-08-15 15:50] Kudo commented on #10
Hey, do you have any updates for this? I am looking forward to solving this issue.

[2019-08-16 05:43] bhaskarGyan commented on #10
@Kudo , @smacgregor , we faced a similar issue with exactly the same stack trace. In our case, we were sending a huge amount of data as a Object from js to native layer via the bridge(same is working with Hermes and JSC). As a workaround, for now, we are sending the data as a String and converting it back to Object at the Native layer.

I will try to share code example replicating the issue over t

[2019-08-16 06:23] RageBill commented on #13
Not sure if it helps, in my scenario, it works fine on my production build and on React Native Debugger. However, it just doesn't work on development build on my Android emulator. The broken characters are Chinese and they were returned from an API call.

My RN version is 0.60.4 and my Android emulator is API 26 Nexus 5X.

[2019-08-16 07:16] ITJesse commented on #13
@Kudo Thanks for your help. I will do more tests on how to reproduce this problem this weekend.

[2019-08-16 22:54] smacgregor commented on #10
Sorry for not giving you more information - we've been experimenting with Hermes as well. We do make heavy use of the bridge as we are a brown field app so @bhaskarGyan could be onto something.

[2019-08-17 12:34] Kudo commented on #13
I've also tested an API returned text and seems works for me.
Looking forward to seeing if there are reproducible test cases.

[code]

[2019-08-17 14:24] Kudo commented on #10
Thank you @bhaskarGyan and @smacgregor.
These information are great for troubleshooting.
After re-evaluating the crash backtrace, The call flow might come from `nativeFlushQueueImmediate` and it might be my fault to do JSI hosted function incorrectly.
 Will try to reproduce the crash and fix it as well.

[2019-08-19 11:22] Kudo commented on #10
Unfortunately, I still cannot reproduce the crash for JS -> Native call.
Could you reproduce the issue for debug build?

On the other hand, a trick is to log the parameter of `nativeFlushQueueImmediate` and see if there are something special to trigger the crash.
Edit `node_modules/react-native/Libraries/BatchedBridge/MessageQueue.js` and add
`console.log('ooxx queue', JSON.stringify(queue));` bef

[2019-08-20 06:45] ITJesse commented on #13
I still cannot figure out why the Non-Ascii is broken in some of my projects.
I will close this issue now, and keep update if I found the reason.

[2019-08-20 09:56] t0m0120 commented on #13
@ITJesse

Only debugging is same issue.

Template literal may be the cause.

[code]

| template literals | not template literals |
| --- | --- |
|![image](https://user-images.githubusercontent.com/34805701/63337285-af3e4c00-c37b-11e9-8bdf-abed13a4fde0.png) | ![image](https://user-images.githubusercontent.com/34805701/63337306-b9f8e100-c37b-11e9-8c4f-4e263fe54bcb.png) |

[2019-08-20 16:20] Kudo commented on #13
Thanks @t0m0120, but I am still unable reproduce the problem even for template literal.

Let's trying to dig out more information.
1. Is the problem reproducible on Android emulator or only on real device?
2. What's your Android system language?
3. What's is your react-native version and react-native-v8 version? Please check the real version from yarn.lock.
3. On the same device which had the prob

[2019-08-22 03:25] HeartWalker commented on #11
thanks, you are right, i found this in the documentation.  so i suggest you modify readme

[2019-08-28 03:12] mars-lan opened #14 "Unicode string encoding issue?"
Encountered the following encoding issue when using 0.60.4-patch.1 + RN 0.60.4. The same string displayed perfectly on JSC or Hermes.

<img width="403" alt="Screen Shot 2019-08-27 at 8 07 44 PM" src="https://user-images.githubusercontent.com/24240669/63822957-f17d0580-c906-11e9-9a23-24056bbe9c3a.png">

[2019-08-28 03:49] Kudo commented on #9
@mars-lan Yes, please make sure the version is aligned to RN.
I.e. RN 0.59.10 should use RNV8 0.59.10-patch.N.

[2019-08-28 03:54] Kudo commented on #14
That is duplicated of #13 and I am also curious of the root cause.

Could you please these information? Thank you for reporting this issue to me.

1. Is the problem reproducible on Android emulator or only on real device?

2. What's your Android system language?

3. What's is your react-native version and react-native-v8 version? Please check the real version from yarn.lock.

4. On the same device

[2019-08-28 03:56] Kudo commented on #10
@rawrmaan Awesome! I will try the steps later and see if I could reproduce and fix the problem hopefully.

[2019-08-28 04:16] bhaskarGyan commented on #10
@Kudo, was a little busy so I was not able to follow up on this. I tried logging the error. PRIVATE_DATA is basically a 1D array of the data which I am passing through the bridge.

'ooxx queue', '[[16,3],[5,1],[[[[ **PRIVATE_DATA**]]]]'

[2019-08-28 11:00] Kudo commented on #10
I could reproduce the crash by a simple native ViewManager and passing the `propBCrashing` as @rawrmaan provided. Thank you all and I could further going to the native debugging and try to find out what's going wrong.  🔥

[2019-08-28 17:11] Kudo commented on #10
The root cause should be the numeric object property, #15 is addressing the issue.
Will do some test for the fix and hopefully to release a new version tomorrow.
Thank you to provide helpful information and make RNV8 better.

[2019-08-28 17:18] mmerickel opened #16 "unicode variable names issue"
I think my issue is close enough to #14 that it's the same but it's in the code and not in the display.

We used react-native-v8 happily on one project, and so I started updating another one to use it today. Reproducible issue in the emulator is that it cannot parse our code which has a few unicode variable names in it. I can confirm that the bundle loaded from wget looks normal when opened as utf

[2019-08-29 03:02] mars-lan commented on #16
Can you give release build a try?

[2019-08-29 05:55] #10 closed

[2019-08-29 06:14] #13 closed

[2019-08-29 06:58] Kudo commented on #10
Publish react-native-v8 `0.59.10-patch.2`, `0.60.4-patch.2`, `0.60.5-patch.0` which all include #15 fix.
Please choose a version to see if the new version did help for the issue.
Thanks for all your help.

[2019-08-29 06:59] Kudo commented on #16
Publish react-native-v8 `0.59.10-patch.2`, `0.60.4-patch.2`, `0.60.5-patch.0` which all include #17 fix.
Please choose a version to see if the new version did help for the issue.
Thanks for all your help.

[2019-08-29 06:59] #16 closed

[2019-08-29 07:00] Kudo commented on #14
Publish react-native-v8 `0.59.10-patch.2`, `0.60.4-patch.2`, `0.60.5-patch.0` which all include #17 fix.
Please choose a version to see if the new version did help for the issue.
Thanks for all your help.

[2019-08-29 07:00] #14 closed

[2019-08-29 08:03] bhaskarGyan commented on #10
@Kudo , Thanks.

Working for me with 0.60.4-patch.2

[2019-08-29 16:51] mmerickel commented on #16
I can confirm this fixes the variable names issue for me. Thanks for the quick turn around @Kudo!

[2019-09-02 11:38] tijs opened #18 "_v8runtime() function not available"
I have followed the instructions to replace JSC with V8 but when i try to verify that it worked using the method from the README i get an error that the _v8runtime() function does not exist.

e.g.

`console.log(`V8 version is ${global._v8runtime().version}`);`

When i unzip the APK though i can cleary see that the jsc.so file is no longer there and instead it has the jsV8.so library. Is the _v8run

[2019-09-03 02:23] t0m0120 commented on #13
@Kudo
try 0.59.10-patch.2
No longer garbled in debug mode
Thank you !!

[2019-09-03 02:53] Kudo commented on #13
@t0m0120 Awesome! Thanks for your confirmation.

[2019-09-03 03:02] Kudo commented on #18
@tijs `global._v8runtime` will not exist if you enable RN's remote debugging mode.
Did you enable remote debugging mode?

[2019-09-03 03:03] Kudo commented on #11
Added some note at README, thank you.

[2019-09-03 06:11] tijs commented on #18
Ah yes of course! Thanks forgot about that.

[2019-09-03 06:11] #18 closed

[2019-09-09 18:43] oximer opened #19 "Using it on React 0.59.10"
Could you help me to understand how to migrate my project using 0.59.10 to V8?

[2019-09-09 19:38] oximer commented on #19
I managed to make it.

[2019-09-10 02:31] leonardo2204 opened #20 "App bloated"
Hi @Kudo!
First of all, thanks for the hard work put into this excellent library!
After building my app to production (bundle release), I realized that my APK size increased by more than 159% (even google store gave me this warning).
AFAIK Hermes decreases the size of the APK, where V8 is (highly) increasing it. Is that supposed to happen or have I missed something when configuring it?

Thanks for

[2019-09-10 08:51] Kudo commented on #19
Nice, please let me clarify one more time that 0.59.19 is supported.
`yarn add 'react-native-v8@>=0.59.10-patch.0 <0.59.11'`
And I am going to close this issue. feel free to open new one if you have any other questions.

[2019-09-10 08:51] #19 closed

[2019-09-10 08:54] Kudo commented on #20
Currently I have enabled Intl support in V8 so that the size will increase about 7MB per ABI.
If the size is a concern, I could have an option to pack non-Intl version.
However, I think the size is not comparable to Hermes.

[2019-09-10 13:26] leonardo2204 commented on #20
From what I know, intl in V8 helps with date formatting, pluralization and number formatting right?
My only concern is how turning this off (or a opt-out) would impact any RN app that uses this kind of thing. Any thoughts on this?
But 7mb is a huge number anyways...

Thanks again

[2019-09-10 14:20] Kudo commented on #20
Well, default JSC and Hermes does not have Intl support.
To have Intl, JSC needs to [modify some configuration in RN](https://github.com/react-native-community/jsc-android-buildscripts#international-variant).

My approach on the other hand is to have Intl support by default.
If APK size is a concern, user could choose no Intl variant.

[2019-09-10 14:24] leonardo2204 commented on #20
Hmm I see, it seems that having both options (with/out) is the best scenario. Also, adding this to the docs (just like the link you provided) would be cool.
Thanks for clarifying this and taking your time!
I'll wait for the no-intl version, once it comes out I'll let you know how lighter the apk got ;)

[2019-09-11 05:24] ITJesse commented on #13
@Kudo Thanks for your awesome work!

[2019-09-11 15:39] Kudo commented on #20
no Intl version is completed, please check the setup guide at https://github.com/Kudo/react-native-v8/blob/master/README.md#how-to-reduce-apk-size-

I also have a [APK size comparison](https://docs.google.com/spreadsheets/d/1uce3WZ9IaAEUu6Owj3eXEuZb25PDi6ZcgUVV2i500S0/edit#gid=246943941), take a look if it helps.

[2019-09-11 17:29] leonardo2204 commented on #20
@Kudo Cool, as soon as I get home I'll test and let you know!
Really appreciate all the hard work put into this!

[2019-09-11 17:29] #20 closed

[2019-09-12 00:53] Kudo commented on #20
Thanks and feel free to let me know if you have any further questions.

[2019-09-16 06:49] binlaniua opened #21 "did support force collect garbage api"
like , window.gc()

[2019-09-16 07:22] binlaniua commented on #21
perhaps how to set jsHeaperLimit

[2019-09-19 15:54] taschik opened #22 "🔥Crash in libv8.so"
Hi,

we rolled out our RN app using v8 and seeing some crashes like the following. Unfortunately, Crashlytics doesn't give us more information so I wanted to ask if anyone has experience with this or seen this before:

[code]

Affected Device: Xiaomi
Affected OS: Android 9

Our environment is:
[code]

[2019-09-20 03:03] Kudo commented on #22
@taschik Since that is native crash, the crash information you provided is not enough for troubleshooting.

Please refer Fabric Crashlytics NDK setup guide to capture native crashes.
https://docs.fabric.io/android/crashlytics/ndk.html
You may still need to [upload external debug symbols](https://docs.fabric.io/android/crashlytics/ndk.html#uploading-symbols-for-external-dependencies) from libv8.

T

[2019-09-24 23:11] Gutyn opened #23 "Using with forked React-Native"
Is there any way to use this with a forked react-native? So I could just hook it into v8-android?

[2019-09-25 16:50] gpawlik opened #24 "Support for RN 0.61"
Version `0.61` of React Native has just been released, could you tell me when can we expect a release of a compatible version of `react-native-v8`? Thanks!

[2019-09-26 09:05] gedeagas commented on #24
+1

[2019-09-28 03:20] Kudo commented on #24
Published [v0.61.1-patch.0](https://www.npmjs.com/package/react-native-v8/v/0.61.1-patch.0).
Please let me know if you are sticked on RN 0.61.0 (not 0.61.1) and need the `react-native-v8@0.61.0-patch.0`

[2019-09-28 03:25] Kudo commented on #23
I don't have easy solution either.

react-native-v8 is simply [v8runtime implementation](https://github.com/Kudo/react-native-v8/tree/master/v8runtime) + [RN build scripts patch](https://github.com/Kudo/react-native-v8/tree/master/patches).
You may able to reference the v8runtime code by git submodule in your forked repo.

[2019-09-30 00:11] shaunsc commented on #24
Awesome! Thanks @Kudo

[2019-09-30 09:44] gpawlik commented on #24
`0.61.1` is ok, thank you @Kudo 🙂

[2019-09-30 09:44] #24 closed

[2019-09-30 10:04] Alaa-Ben opened #25 "Enable Jit"
Hi,
I read the following line in the README:

I have a few questions about this. Isn't JIT supposed to improve performance ? Why is it disabled on other architectures ? Can I enable it for all ? if so, how ?

Thank you in advance for your answers !

[2019-10-01 23:07] taschik commented on #22
Thanks @Kudo! I added Crashlytics NDK but need to wait for a new release and users experiencing the crash to share more details. I will keep you posted.

[2019-10-02 02:23] Kudo commented on #22
Thanks and feel free to let me know if you need any assistance.

[2019-10-02 02:24] Kudo commented on #23
I am going to close this issue, please feel free to let me know if you have any further questions.

[2019-10-02 02:24] #23 closed

[2019-10-02 02:30] Kudo commented on #25
@Alaa-Ben That is for CPU & memory constraint since JIT would consume more CPU & memory.
If you need to enable JIT, you could have a custom build of v8-android.
Disable lite mode at https://github.com/Kudo/v8-android-buildscripts/blob/master/scripts/build.sh#L73

[2019-10-02 02:40] Kudo commented on #21
V8 controls GC scheduling itself.
There is a API `RequestGarbageCollectionForTesting ` to request GC but is only for testing purpose.
https://chromium.googlesource.com/v8/v8.git/+/7.5.288.23/include/v8.h#8153

I am afraid to say that the feature is not officially supported in the mean time.
You may able to have a [custom V8 build](https://github.com/Kudo/v8-android-buildscripts) if you still need

[2019-10-02 06:45] Alaa-Ben commented on #25
@Kudo You believe the performance gain from enabling JIT isn't worth the additional CPU & memory consumption ?

[2019-10-02 09:16] Kudo commented on #25
@Alaa-Ben

That is what I know, but I have no time to do some benchmark for CPU & memory comparison.
In real world scenarios, things will get more complicated.
The CPU & memory on your user's Android device varies.
And application code varies, I mean some applications rely JS computing heavily but some are not.
To keep balanced between performance and resource constraints, to disable JIT is my cur

[2019-10-03 17:37] Gutyn commented on #23
Thank you @Kudo , I was able to fork this repo and point to my RN fork.

[2019-10-08 03:15] binlaniua commented on #21
thanks

[2019-10-08 03:15] #21 closed

[2019-10-14 08:47] ItsNoHax opened #26 "Crashing when used with Realm"
RN: 0.59.10
V8: 7.5.1
react-native-v8: 0.59.10-patch.2

App is crashing directly on start up due to the following error:
[code]

Our app would really benefit from using the V8 library as we really prioritise performance. What could I do to get this working with Realm?

[2019-10-14 13:14] ItsNoHax commented on #26
Going to close this issue as it's really an issue on Realm's side. Issue can be followed here: https://github.com/realm/realm-js/issues/2455

[2019-10-14 13:14] #26 closed

[2019-10-17 12:27] mcuelenaere opened #27 "Error "Malformed calls from JS: field sizes are different" (caused by "Cannot freeze") occurs on 0.60.5"
When running RN 0.60.5 with V8, in development mode the "Malformed calls from JS: field sizes are different" error gets triggered for our code.

When investigating, this seems to be caused by JS trying to freeze the params that are being passed to the bridge at https://github.com/facebook/react-native/blob/master/Libraries/BatchedBridge/MessageQueue.js#L313.

`Object.freeze()` throws an error with

[2019-10-17 12:31] mcuelenaere commented on #27
This is the diff we're using in our react-native fork:

[code]

[2019-10-18 15:00] AsminBudha opened #28 "App unresponsive after new activity in android is closed."
We recently integrated react-native-v8 engine in our android app and we were able to reduce memory consumption. But, we found out lagging when app returns back to react native part after closing new activity.

Steps to reproduce:
1. From screen which is written in react-native open new activity which is written in native android (in our case Java).
2. Close activity or press back to return back to

[2019-10-19 03:01] Kudo commented on #27
Thanks for the briefly information, I will try to find the root cause accordingly.

[2019-10-19 03:10] Kudo commented on #28
Thanks for reporting this issue. I will try to find a time to have a sample code trying to reproduce this issue if I can.

[2019-10-19 03:23] Kudo commented on #27
@mcuelenaere Do you mind to provide blob data to be `Object.freeze()`?
You could try to add `console.log' in MessageQueue.js.

[2019-10-21 11:07] mcuelenaere commented on #27
@Kudo

this is the stacktrace:
[code]

and these are `JSON.stringify()` of some blobs:
[code]

My hypothesis is that the `__collector` member variable is the issue, which probably a reference to a native object created at https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/modules/blob/jni/BlobCollector.cpp#L54

[2019-10-23 13:17] Kudo commented on #27
@mcuelenaere Could you double confirm react-native version is 0.60.5 and react-native-v8 version is `0.60.5-patch.0`?
As the BlobCollector did not land on [RN 0.60 yet](https://github.com/facebook/react-native/tree/0.60-stable/ReactAndroid/src/main/java/com/facebook/react/modules/blob/), the code path should not hit on the BlobCollector you mentioned.
One possibility is that you use wrong react-na

[2019-10-23 13:19] mcuelenaere commented on #27
@Kudo yes, that's because we use a fork of 0.60.5 with some fixes from 0.61 cherry picked on top (see https://github.com/getdelta/react-native/commits/0.60-patched%2Bv8 )

[2019-10-23 17:15] Kudo commented on #27
@mcuelenaere Thanks, I was able to reproduce the problem from your forked and the code.

[code]
Passing an JSI hosted object through RN bridge will cause the problem.

Unfortunately, I have no proper solution in the mean time.
That is [V8's design not to support Object.freeze for objects with interceptors](https://chromium-review.googlesource.com/c/v8/v8/+/461903/) and it is somehow right.
Please

[2019-10-25 01:34] AmandeepSingh06 commented on #22
@Kudo  We have shifted to v8 from jsc because we were experiencing a lot of crashes. But the same is happening using v8. below is the log

#00 pc 0000000000c31dd8 /data/app/my.app.id-a42vFQTz2lrEJMUnXdYsYA==/lib/arm64/libv8.so
#1 pc 0000000000c3437c /data/app/my.app.id-a42vFQTz2lrEJMUnXdYsYA==/lib/arm64/libv8.so
#2 pc 0000000000c30554 /data/app/my.app.id-a42vFQTz2lrEJMUnXdYsYA==/lib/arm64/libv8.so

[2019-10-26 03:10] Kudo commented on #27
@mcuelenaere I've sent a PR to address the issue.
https://github.com/facebook/react-native/pull/27013
Since you have forked RN, you may able to apply the patch first in your repo and see if the fix helps.

[2019-11-01 02:21] maman opened #29 "Unsatisfied link error from libjscexecutor.so"
Hi, I'm seeing this crash errors on my app - mostly it's happen on samsung, xiaomi, and oppo devices

From what I understand, react-native-v8 didn't use jsc anymore as it's using v8 instead - but the stacktrace reports some jsc-related libraries being loaded 🤔

I'm using:

* react-native `0.59.10`
* react-native-v8 `0.59.10-patch.2`
* and v8-android-nointl `7.5.1`

Stack trace:
[code]

we're using

[2019-11-01 13:10] Kudo commented on #29
@maman I am sorry that in order to reduce patches from RN, I reused the JSCExecutor code.
That's why the name is still having the JSC.
I will take some time to work on new version for dedicated V8Executor.

However, the real problem should be the missing symbol `_ZN2v88platform18NewDefaultPlatformEiNS0_15IdleTaskSupportENS0_21InProcessStackDumpingENSt6__ndk110unique_ptrINS_17TracingControllerENS3_

[2019-11-01 13:12] Kudo commented on #22
Thank you @AmandeepSingh06.
From the backtrace, it seems the crash happens at GC.
For GC problem, it is really hard to troubleshoot if there are no reliable reproduce steps.
However, I will try to upgrade and publish new V8 to see if that will overcome the crash issue.

[2019-11-03 18:46] biomancer commented on #22
According to our Android vitals that crash is seen only on 3 specific models:
Redmi Note 7 (lavender)
Redmi Note 5 Pro (whyred)
ZTE B2017G (tulip)

![image](https://user-images.githubusercontent.com/2938250/68090270-cf61af80-fe82-11e9-8279-8e28ca369909.png)
(there are many more similar crashes on the same 3 models, google does not group it correctly)

I've found related issue https://discuss.cocos

[2019-11-03 19:14] biomancer commented on #29
I see somehow related error on some android 4.1 devices with react-native 0.60.5:
[code]

The error is telling that libhermes.so is not found, but hermes is disabled in this build (as v8 is used), and it is happening because of error on trying to load jscexecutor (code in react native [uses Hermes loader as fallback](https://github.com/facebook/react-native/blob/aee88b6843cea63d6aa0b5879ad6ef9da47

[2019-11-04 13:42] biomancer commented on #29
@Kudo Removing that fallback to Hermes revealed that it is the same issue:

[code]

This is from HTC One (M8), API Level 19 from Firebase Test Lab, and it can be reproduced on other physical devices with API level 19 there. Also we have one confirmed case with real user with HTC One S API 16 reporting that crash (obscured by Hermes fallback, but I think it is the same one).
Only physical devices a

[2019-11-05 11:04] maman commented on #29
Sorry for the slow reply - here's my app details:

1. The lockfiles specify v8-android v7.5.1
2. dump for all outputs from our split-builds apk:
[code]
Curiously, the libv8 libraries on 64-bit archs apk aren't recognized 🤔

[2019-11-05 11:24] maman commented on #29
hmm.. found some clue from RN's issue here: https://github.com/facebook/react-native/issues/23764#issuecomment-530801648

[code]

haven't tried that, because I didn't exactly know why that "fixed" the problem 😅

[2019-11-05 11:37] biomancer commented on #29
@maman that is default configuration that was added in RN 0.60.1 (see https://react-native-community.github.io/upgrade-helper/?from=0.60.0&to=0.60.1), and was removed then in 0.61 (https://github.com/facebook/react-native/commit/509a07b2071d874080b7e2f74554f194a33b5d63). Since I have RN 0.60.5, I have that pickFirst options in my app/build.gradle, but that does not help

[2019-11-05 12:34] maman commented on #29
@biomancer ah yep, ok 👍

also I forgot to mention - I'm still on 0.59.10 (also adding the info on my initial issue post)

[2019-11-05 14:52] Kudo commented on #22
@biomancer These information is great, I will find a time to take a look.
Do you mind to try newer react-native-v8?
I've disabled JIT for v8-android arm64.

https://github.com/Kudo/v8-android-buildscripts/releases/tag/v7.8.0

[2019-11-05 15:13] Kudo commented on #29
@maman @biomancer
Thanks for your information.
I need some more information, hopefully if you could answer these questions.

1. Could you in-house reproduce this problem? It would be great if we could reproduce the issue. It seems @biomancer could reproduce from Firebase Test Lab. Is it possible to reproduce the issue on Android API 19 x86 official emulator ?

2. Does the crash happens on pure app

[2019-11-05 16:33] biomancer commented on #29
@Kudo I think I understood why files differ - I forgot that we use v8-android-nointl (also 7.5.1), and v8-android is actually an unused dependency.

I've unzipped libs from npm to check it:
Nointl:
`$ANDROID_NDK/toolchains/aarch64-linux-android-4.9/prebuilt/darwin-x86_64/bin/aarch64-linux-android-nm -CD ./node_modules/v8-android-nointl/dist/lib.unstripped/v8-android/7.5.1/libs/armeabi-v7a/libv8.so

[2019-11-05 18:59] maman commented on #29
ah yes @Kudo - we also use `v8-android-nointl`, version `7.5.1` 🙇‍♂️

here's the md5:
[code]

regarding the firebase testlab, I'll try to do it over this week - will report the result

[2019-11-05 21:53] biomancer commented on #29
I've set up test app https://github.com/biomancer/react-native-v8-debug-app/commits/master and tried different combinations, here is what I've found:
1) this particular crash is only reproduced in test lab on physical device with API 19, the same apk on API 19 emulator works fine both locally and in test lab.
2) This crash is happening in test lab both for full version and nointl version, for @7.5

[2019-11-05 23:05] coderdave opened #30 "Upgrading to 0.59.10-patch.3 crashes app"
I wish I got better errors as to why it's crashing. It just says "[app] has stopped".

It was working fine with patch 0 but now I can't go back to that. I think it has something to do with
v8-android upgrading to 7.8.0?

[2019-11-06 06:10] Kudo commented on #30
I am sorry to introduce breaking change, please try to upgrade react-native-v8 as well.

Breaking Changes

Since V8 did change their embedder API interface, original react-native-v8 will access to non existing symbol and crash.
Please upgrade react-native-v8 to one of these version.

v0.59.10-patch.3
v0.60.6-patch.1
v0.61.1-patch.2
v0.61.2-patch.0
v0.61.3-patch.0
v0.61.4-patch.0

[2019-11-06 06:11] bhaskarGyan commented on #30
I am also facing the same issue, with v8-android 7.8.0, the app is crashing on startup but with 7.5.1 is working fine. All the other dependencies remain the same.

(https://github.com/Kudo/v8-android-buildscripts/issues/2)

[2019-11-06 07:58] maman commented on #29
@Kudo reproduced via firebase device test lab, on HTC M8, API 19:

Here's the stack trace for:
* react-native-v8 v0.59.10-patch.2
* android-v8-nointl 7.5.1
[code]

I also check the updated react-native-v8, also crashed on the same device:

* react-native-v8 v0.59.10-patch.3
* android-v8-nointl 7.8.0
[code]

[2019-11-06 09:42] Kudo commented on #30
Please let me know if the new react-native-v8 version did fix the crash issue for you. Thanks.

[2019-11-06 09:45] Kudo commented on #29
@biomancer @maman Thanks for your amazing information.
I was able to reproduce the issue on Firebase Test Lab M8 as well and had some thought for the issue.
Will try some solution but it takes some time for me. Please stay tune and will let you know for any updates.

[2019-11-06 10:03] maman commented on #29
you're welcome! - let me know if you need any help 🙂

[2019-11-06 12:19] wv1124 commented on #30
make sure:
"react-native-v8": "0.59.10-patch.3", => "v8-android@7.8.0",
"react-native-v8": "0.59.10-patch.2", => "v8-android@7.5.1",

"react-native-v8": "0.59.10-patch.2", => "v8-android@7.8.0", crash

[2019-11-06 12:20] wv1124 commented on #29
make sure:
"react-native-v8": "0.59.10-patch.3", => "v8-android@7.8.0", ok
"react-native-v8": "0.59.10-patch.2", => "v8-android@7.5.1", ok

"react-native-v8": "0.59.10-patch.2", => "v8-android@7.8.0", crash

[2019-11-07 00:06] maman commented on #29
@wv1124 yep - there's breaking changes on v8-7.8.0 that requires updated react-native-v8 package. My stacktrace above already have the correct pair of packages.

[2019-11-07 02:35] bhaskarGyan commented on #30
@Kudo , I can confirm it is working with v0.60.6-patch.1

[2019-11-07 11:29] Kudo commented on #29
@maman @biomancer This issue should be fixed by renaming libv8.so to libv8android.so.
More information is described at https://github.com/Kudo/react-native-v8/commit/5a78dd52b0678c18e62972ae5f6cb0f2025e28b4

And sorry for yet another new breaking change.
Please use v8-android 7.8.1 with any of these versions:

- v0.59.10-patch.4
- v0.60.6-patch.2
- v0.61.1-patch.3
- v0.61.2-patch.1
- v0.61.3-patch

[2019-11-07 11:34] Kudo commented on #30
@bhaskarGyan Thanks for your confirmation.

Sorry to all that I was introducing yet another breaking change for #29
If you upgrade to v8-android 7.8.1,
please use any of these versions:

- v0.59.10-patch.4
- v0.60.6-patch.2
- v0.61.1-patch.3
- v0.61.2-patch.1
- v0.61.3-patch.1
- v0.61.4-patch.1

[2019-11-07 11:35] Kudo commented on #28
@AsminBudha New V8 published.
Please try v8-android 7.8.1 with use any of these react-native-v8 versions:

- v0.59.10-patch.4
- v0.60.6-patch.2
- v0.61.1-patch.3
- v0.61.2-patch.1
- v0.61.3-patch.1
- v0.61.4-patch.1

[2019-11-07 11:41] Kudo commented on #22
Please use new version to prevent #29 crash issue.

https://github.com/Kudo/v8-android-buildscripts/releases/tag/v7.8.1

[2019-11-07 23:58] maman commented on #29
thanks @Kudo! will test the changes

btw, why this line is removed? https://github.com/Kudo/react-native-v8/commit/5a78dd52b0678c18e62972ae5f6cb0f2025e28b4#diff-69b017bdf029e15f078c069fe9955acbL17

if I'm not mistaken, this means we didn't use `SoLoader` to load the modules, and rely to android to load correct libraries on runtime?

[2019-11-08 03:45] Kudo commented on #29
@maman Thanks for your help.

Before Android JB-MR2, [the bionic linker cannot load dependencies correctly](https://android.googlesource.com/platform/bionic/+/master/android-changes-for-ndk-developers.md#changes-to-library-dependency-resolution),
but [SoLoader will handle for this case](https://github.com/facebook/SoLoader/blob/v0.6.0/java/com/facebook/soloader/SoLoader.java#L258-L260).

Original

[2019-11-08 03:49] maman commented on #29
ah, i see 👍 thanks for the explanation @Kudo!

closing this issue now 🙇

[2019-11-08 03:49] #29 closed

[2019-11-09 01:10] akshetpandey commented on #8
JIT cannot be enabled in iOS at all, since all allocated memory on iOS is W^X (except safari, it gets special treatment)
But at the same time, being able to use V8 on iOS would be very interesting.
@Kudo : Would you be interested in merging support for iOS if I worked on it?

[2019-11-13 00:48] Kudo opened #31 "⛱ iOS support"
This is an umbrella task issue for iOS support.
In theory, most of works could be shared from current Android version as V8 supports iOS and JSI runtime implementation is cross platform.
There are still some tweaks to publish as library.

- [x] ~~iOS V8 as static library~~ (Binary size is too large and not feasible for library publish, x64 takes 1.8GB and arm64 takes 3.8GB)
- [x] ~~iOS V8 as dylib

[2019-11-13 01:11] Kudo commented on #8
@radex talked with me for iOS support just few days ago.  Last weekend I took some time to do this and had some work 🎉
![Simulator Screen Shot - iPhone Xʀ - 2019-11-12 at 20 42 03](https://user-images.githubusercontent.com/46429/68723527-ba5bed80-05f3-11ea-911a-a0c1f019451d.png)

However, it takes some tweaks to integrate into existing project.
I created an umbrella issue to list tasks for real li

[2019-11-13 01:29] akshetpandey commented on #31
Whats the size of the dylib without bitcode?
Also, would love to help if you can push the build script branch/repo.

[2019-11-13 01:48] Kudo commented on #31
About 30MB for Intl version.

Thank you so much.
The build script part is relatively easy, will complete later today.

[2019-11-21 09:51] Alaa-Ben opened #32 "Crash when using with react-native-code)push"
Hi !
Since upgrading to 0.61.2 (and now I'm using 0.61.4), installing an update with codepush crashes the app. This only happens when using V8 (tried Hermes and JSC, no issue there).
I have 2 traces, a JS one et a native one:
JS:
` LOG  [CodePush] Exception in HostFunction: Malformed calls from JS: field sizes are different.
[[23,28],[1,0],[[80,100,1574329821120,false]],263]`

Native:

Any leads ?

[2019-11-23 03:29] Kudo commented on #32
@Alaa-Ben Which react-native-v8 version you currently use?
And could you explain the scenario of codepush you tried? (E.g. just update a new JS bundle through codepush and it will crash immediately?)

[2019-11-23 16:34] biomancer commented on #22
@Kudo we've released an app version with the updated react-native-v8 (react-native-v8@0.60.6-patch.2, v8-android-nointl@7.8.1), that fixed https://github.com/Kudo/react-native-v8/issues/29, but this issue is not resolved, we continue to see the crashes on these particular devices in Android vitals.

Here are some examples:
[code]

[code]

[code]

[2019-11-25 08:43] Alaa-Ben commented on #32
hi @Kudo, thanks for your reply !
I am using React native 0.61.4 and react-native-v8 0.61.4-patch.1 (no-intl version).
The scenario:
- Release a new js bundle via codepush
- Phone receives it, there is a pop-up "New update available, would you like to install it ?"
- Press "yes"
- crash "Your app has stopped working" + stacktrace in my first post.
What's weird is sometimes the bundle is installed

[2019-11-27 04:20] winseyli commented on #27
Hi there. I have the same problem with RN version `0.61.4` (react-native-v8 version `0.61.4-patch.1`)
Issue can be reproduced by `response.json()` after `fetch`

[2019-11-28 06:15] mars-lan opened #33 "couldn't find DSO to load: libv8executor.so"
Similar to https://github.com/Kudo/react-native-v8/issues/29 but with a different stacktrace.

[code]

Using
react-native `0.61.5`
react-native-v8 `0.61.4-patch.1`
v8-android-intl `7.8.1`

[2019-11-28 06:59] ping996 opened #34 "Crash if I init the V8 after I deinit the instance in my process"
I want to init v8 instance again when my app back to focus on screen, but it crashed, I have deinit the v8 instance when the app back to invisible by press the back button of my android phone.

When it is crashed, the exception trigger an exception when convert the string message.
`=/lib/arm64/libv8_jsi.cr.so (facebook::JSIV8ValueConverter::ToSTLString(v8::Isolate*, v8::Local<v8::Value> const&)+37

[2019-11-28 07:55] ping996 commented on #34
The root cause:

`  /**
   * Releases any resources used by v8 and stops any utility threads
   * that may be running.  Note that disposing v8 is permanent, it
   * cannot be reinitialized.
   *
   * It should generally not be necessary to dispose v8 before exiting
   * a process, this should happen automatically.  It is only necessary
   * to use if the process needs the resources taken up by v8.

[2019-11-28 07:55] #34 closed

[2019-11-28 12:28] Kudo commented on #22
@biomancer From the crash backtrace, it is the same GC problem again.
Besides [the link you shared](https://bugs.chromium.org/p/v8/issues/detail?id=9034&q=&colspec=ID%20Type%20Status%20Priority%20Owner%20Summary%20HW%20OS%20Component%20Stars), I also found another one: https://groups.google.com/forum/#!searchin/v8-dev/ScavengeObject%7Csort:date/v8-dev/o3Prlv_TZVk/nTnEBadYCgAJ

It seems the crash h

[2019-11-29 00:38] Kudo commented on #33
@mars-lan Could you help to unzip your apk and double check if libv8executor.so existed or not?
On the other hand, please share more log, probably the part before this exception which is helpful for troubleshooting.

I also published react-native-v8@0.61.5-patch.0 yesterday. Please use the version paired with RN 0.61.5 to reduce risk.
Thank you.

[2019-11-29 00:39] Kudo commented on #30
I am going to close this issue.
Please feel free to let me know if there are any problems. Thank you.

[2019-11-29 00:39] #30 closed

[2019-11-29 02:27] Kudo commented on #32
@Alaa-Ben I tried to setup codepush but unfortunately unable to reproduce the crash.
Could you share how to setup codepush ?
I referenced this steps and leveraged RN autolink: https://github.com/MicrosoftDocs/appcenter-docs/pull/767

[2019-11-29 02:37] Kudo commented on #32
Oh I saw the error in log, although there were not crashes.
Will try to dig the problem.

[2019-11-29 04:44] Kudo commented on #32
Confirmed this is duplicated as #27 that CodePush will `fetch` data and there is an existing FileReader passed into RN bridge.

[2019-11-29 08:27] Alaa-Ben commented on #32
@Kudo

I didn't autolink it. I'm using asymetric keys to sign my bundle, and I didn't find instructions about how to add that to autolinking yet.

So for now, the only solution is the PR you submitted to react native ?

[2019-11-29 13:02] Kudo commented on #32
A workaround is to patch V8 internally and remove the exception from Object.freeze().
Please let me wait for some days to see if there are any updates from the PR first.

[2019-11-29 16:06] mars-lan commented on #33
Seems like libv8executor.so exists for all architectures

[code]

It still crashes consistently on emulator after updating to react-native-v8@0.61.5-patch.0 with the following stacktrace, which seems to suggest a problem loading `libc++_shared.so` & `libfb.so`

[code]

[2019-12-03 15:55] Alaa-Ben commented on #32
@Kudo FYI, Debugging through chrome doesn't produce the error. Weird, no ? I thought it was the same engine (different versions maybe).

[2019-12-04 01:19] Kudo commented on #33
@mars-lan From the log, it is getting a little wield to me.
It seems the system try to load library from `/data/data/com.invisatime/lib-main/libc++_shared.so` and the library is built for arm. Assuming you were ran on x64 emulator and not able to load arm based library.

Did you ever try reinstall your app or cleanup app data which to remove files from `/data/data/com.invisatime/`?

Otherwise, ple

[2019-12-04 01:24] Kudo commented on #32
@Alaa-Ben AFAIK, for remote debugging, RN will run on [legacy bridge mode](https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/jni/react/jni/ProxyExecutor.cpp), i.e. not JSI objects.
That's why the error will not happen on remote debugging mode.

[2019-12-05 17:51] ItsNoHax commented on #31
@Kudo I'm curious if it's even legally allowed by Apple in the app store? I thought it was similar to browsers.

[2019-12-05 21:38] akshetpandey commented on #31
As long as you don't use codepush and all your js in bundled into the app when submitting to apple its allowed.
Source: latest Apple TOS agreement, and I have previously shipped games that used a custom fork of webkit internally.

[2019-12-06 08:58] Kudo commented on #31
Some update that I've created a demonstration project from scratch.
You should be able to check detailed steps from commit logs: https://github.com/Kudo/RNV8Test/commits/master

Next TODO should be ship the V8Executor.framework as deliverable library.
Is it possible to patch project files automatically, maybe leverage CocoaPods?

$ git diff --diff-filter=MR 8d35b4be..74c97a69 -- ios/
[code]

[2019-12-10 23:15] osdnk commented on #8
thanks, pushing to prod

[2019-12-16 07:33] #27 closed

[2019-12-17 00:54] Kudo commented on #27
@mcuelenaere @winseyli Considering the PR not updated for a while, I finally decide to workaround the issue in V8.
Please try to use `v8-android@7.8.2` /  `v8-android-nointl@7.8.2` and see if this could solve your problems. Thank you.

[2019-12-17 00:55] Kudo commented on #32
@Alaa-Ben Considering the PR not updated for a while, I finally decide to workaround the issue in V8.
Please try to use `v8-android@7.8.2` /  `v8-android-nointl@7.8.2` and see if this could solve your problems. Thank you.

[2019-12-17 02:43] winseyli commented on #27
@Kudo Thanks it works 👍

[2019-12-18 10:34] Alaa-Ben commented on #32
@Kudo Thanks for your answer ! It works in debug version, no more issues there. In release config, there's still a problem. here's what I did:
- Download the codepush update for the first time: works
- Delete data + cache of the app (so I can redownload bundle for more tests)
- Launch the app, I get the update popup, press 'yes' to update, then the same crash occurs (your app stopped working) with

[2019-12-19 13:26] gmaclennan commented on #27
Thanks for taking the time to fix this @kudo, the update works and our app is working again!

[2019-12-26 20:05] mars-lan commented on #33
Looks like this is most likely a bug in `soloader 0.8.0`: https://github.com/facebook/SoLoader/issues/55 and has nothing to do with `react-native-v8`. Closing this issue.

[2019-12-26 20:05] #33 closed

[2020-01-02 13:06] songxiaoliang opened #35 "How to reduce APK size"

[2020-01-08 12:08] jgreen210 opened #36 "fetch() BlobModule.java memory leak fix not working if enable v8 js engine"
We've been seeing memory leaks from the mBlobs HashMap in BlobModule.java for some time (with JavaScriptCore). This is one of the tickets for this:

facebook/react-native#20352

We were expecting this to be fixed when we upgraded react native, since 0.61.3 added the following fix:

facebook/react-native@766f470

I.e. the js blob HostObject destructor is supposed to call remove() in BlobModule.java

[2020-01-10 11:28] Kudo commented on #35
If you don't need `Intl`, perhaps you could try [nointl version](https://github.com/Kudo/react-native-v8#how-to-reduce-apk-size-).

[2020-01-10 11:33] songxiaoliang commented on #35
Did according to READEME, but build error @Kudo

[2020-01-10 11:35] songxiaoliang commented on #35
@Kudo
`"react-native": "0.60.5"
"react-native-v8": "^0.60.5-patch.0"`

[2020-01-10 12:04] Kudo commented on #36
@jgreen210 V8 manages its GC lifecycle internally. From my past experience, it will not GC very frequently. Since `Blob` is a JSI hosted object and owns an underlying native resources. JS engine has no memory usage for these native resources. If V8 does not do GC timely, the native resources may exceed the limit.

JavaScript, unfortunately, do not have RAII support.
In the meantime, please try if

[2020-01-10 13:07] jgreen210 commented on #36
It didn't check whether this was just caused by less frequent garbage collections in v8 than JavaScriptCore. I did file https://github.com/facebook/react-native/issues/27532 though, which should help in this situation.

If close() helps (I've not tried it or looked at what it does), would have to get react native to fix its json() implementation - it uses blob() internally.

[2020-01-12 12:48] sirpy commented on #25
You can find JIT enabled release here /GoodDollar/v8-android-buildscripts
you can download the artifacts from circle ci
https://circleci.com/gh/GoodDollar/v8-android-buildscripts/6#artifacts/containers/0

I can confirm that running javascript crypto algorithms is order of magnitude faster with JIT
bundled JSC runs at about 4 seconds
v8 without JIT also about 4 seconds
latest JSC runs at 1.8
v8 wit

[2020-01-14 00:51] Kudo commented on #35
What is your react-native-v8 exact version? Maybe you could check the verion in yarn.lock.
[code]

[2020-01-14 06:33] songxiaoliang commented on #35
@Kudo
`
 songlcy@SonglcydeMacBook-Pro  ~/rnapp   song/2.1.8 ●  grep -A 4 'react-native-v8@' yarn.lock
react-native-v8@^0.60.5-patch.0:
  version "0.60.5-patch.0"
  resolved "https://registry.npm.taobao.org/react-native-v8/download/react-native-v8-0.60.5-patch.0.tgz#c2d8a558f509fc26953fd7e5c84e677ebe84090a"
  integrity sha1-wtilWPUJ/CaVP9flyE5nfr6ECQo=
  dependencies:
`

[2020-01-14 08:54] Kudo commented on #35
@songxiaoliang I am sorry that 0.60.5 is outdated and the newer RNV8 fixed some issues.
Is it possible for you to upgrade to 0.60.6? I.e. RN 0.60.6 + RNV8 0.60.6-patch.2.

[2020-01-14 09:08] songxiaoliang commented on #35
OK, I will consider upgrading to 0.60 in the near future and try it out. If there are any problems, I will give you feedback in time. thanks

[2020-01-14 09:14] Kudo commented on #35
Thanks and feel free to let me know if there are any questions.

[2020-01-17 12:34] svenlombaert opened #37 "JS Date timezone off for Australia/Melbourne"
When I put my phone in timezone `Australia/Melbourne` and I execute:
[code]

I get this as output: `Fri Jan 17 2020 22:31:39 GMT+1000 (GMT+10:00)`.
Actually, Melbourne is currently in GMT+11 due to daylight savings time (https://time.is/Melbourne).

When remote debugging is **on**, I do get the correct timezone, as well as on iOS. This leads me to think it might be an issue with react-native-v8.

[2020-01-17 12:45] mcuelenaere commented on #37
In the latest Chrome browser (also using the V8 engine), this [JSFiddle](https://jsfiddle.net/b53zcuLs/) shows the correct timezone (GMT+11).

[2020-01-18 03:42] Kudo commented on #37
@svenlombaert Did you use Intl or no Intl version of v8-android?

[2020-01-20 09:40] svenlombaert commented on #37
We use the Intl version

[2020-01-31 14:53] chaffeqa commented on #31
Just was curious on react native stance on this, but wanted to see if the information that NativeScript recently created a v8 runtime for iOS could help / share code in this attempt:

https://github.com/NativeScript/ns-v8ios-runtime

[2020-02-12 13:09] gmaclennan opened #38 "Crash when updating to v0.61.5-patch.1"
`v0.61.5-patch.1` causes [our app](https://github.com/digidem/mapeo-mobile) to crash. Switching back to `v0.61.5-patch.0` solves the crash. I'm not sure if this is a breaking change that requires other changes to be made? I see that it switches v8 to v8. Here is what seems like the relevant portion of the logs from `adb logcat *:W`:

[code]

[2020-02-13 06:06] sirsavary commented on #38
Also getting a hard crash after updating to 0.61.5-patch.1

Crash logs are a bit archaic but hopefully someone can make sense of them:

[code]

[2020-02-13 07:54] creambyemute commented on #38
Yup same here, 7.8.1 and 0.61.5-patch.0 work. If I upgrade either the crash on startup is happening.

[2020-02-14 14:00] dorthwein commented on #38
Same here - specifically on Samsung - worked on another device

`*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
pid: 0, tid: 0 >>> com.truckdriverpower.app <<<

backtrace:
  #00  pc 00000000000325d8  /data/app/com.truckdriverpower.app-A_nu6MTXE4r-7_3fSYdGVA==/lib/arm64/libv8executor.so (facebook::JSIV8ValueConverter::ToJSIValue(v8::Isolate*, v8::Local<v8::Value> const&)+84)
  #01

[2020-02-16 16:12] Kudo commented on #38
It looks like the crash happens only on arm64 devices. I will go further troubleshooting and hopefully the fix the problem within this week. Sorry to make inconvenience.

[2020-02-18 09:02] Kudo commented on #38
Please try to upgrade react-native-v8 to one of 0.61.5-patch.2 / 0.60.6-patch.4 / 0.59.10-patch.6 version. Hopefully these version could fix the crash issue on arm64 devices.

[2020-02-18 14:33] ribbedcrown commented on #38
I've tested 0.61.5-patch.2 and it works like a charm again, thank you @Kudo !

[2020-02-19 04:04] anchengjian opened #40 "Can we use V8 remote debugging in this project?"
In RN remote debugging mode, JS code is still running in chrome. But in this project, V8 is running on the mobile device, so can we use V8 remote debugging in this project?

Similar to https://developers.google.com/web/tools/chrome-devtools/remote-debugging/webviews

[2020-02-28 09:27] svenlombaert commented on #37
@Kudo any ideas on this?

[2020-03-03 03:59] #40 closed

[2020-03-03 15:20] creambyemute commented on #38
@Kudo We've updated to 0.61.5-patch.2 ~12 days ago and haven't had a problem thus far.

[2020-03-04 00:16] Kudo commented on #38
Thank you folks. I am going to close this issue.
If there are any further problems, please feel free to open new issues.

[2020-03-04 00:16] #38 closed

[2020-03-04 12:34] Kudo commented on #37
Sorry for late response.
I found that is in fact a V8 + ICU integration issue.
Opening a discussion at V8 mailing list: https://groups.google.com/forum/#!topic/v8-dev/vuKkY76fBXo
Hopefully the problem could be fixed from V8.

[2020-03-05 03:47] Kudo commented on #36
I can confirm that adding `blob.close()` can fix your OOM crash problem from your demo code.

As mentioned earlier, JS VM has no idea about how much memory cost for underlying JSI native resources, so it may not do GC timely and cause OOM crash.
JavaScriptCore AFAIK, will check the ratio of used memory and available memory frequently and do GC.
V8 seems not have similar design.

I would highly sug

[2020-03-06 18:27] willholen commented on #36
The objects are alive in the Hermes heap so more frequent GCs will not help. Manually freeing the blobs is a good workaround, but the associated XMLHttpRequests are still accumulating. I'm still trying to work out the specific mechanics of this.

[2020-03-07 13:17] Kudo commented on #37
Well, I've patched V8 to support passing timezone anyway.
Could you please test v0.61.5-patch.3 (with v8-android-* 8.80.1) and see if the version fixed your problem?

[2020-03-09 11:12] LiuDeng commented on #22
Hello @biomancer did you find any solution for this？ We meet the same problem that make us crazy！Any help is appreciate. Thank you

[2020-03-10 11:51] jgreen210 commented on #36
@willholen - did you mean hermes in your above comment? (Hermes and v8 have the same symptoms, perhaps with the same cause, but this is an issue in the react-native-v8 repo.)

[2020-03-30 12:43] kesha-antonov opened #42 "React Native 0.62 support"
Hi!
Is it planned?

[2020-03-31 01:53] songxiaoliang commented on #42
same, Hope to support soon

[2020-03-31 03:38] Kudo commented on #42
Thanks @enahum's help for sending #41 for upgrade.
I've published react-native-v8@0.62.0-patch.0. Please take a look.

[2020-03-31 03:40] enahum commented on #42
Awesome @Kudo, will replace our fork with the nom package and report back here in about 10 hours ;)

[2020-03-31 13:00] enahum commented on #42
this is working as intended with RN v0.62.0 installed from the npm package.

Thanks @Kudo for the timely PR review/merge and publishing the package

[2020-03-31 17:58] codecog commented on #42
Are there any benchmarks for this against Hermes 0.4.0?

[2020-04-03 12:58] songxiaoliang commented on #42
@Kudo If I don't need intl, can I just install v8-android-nointl, or do I need to install both react-native-v8 and v8-android-nointl?

[2020-04-07 07:48] ammarahm-ed commented on #42
@songxiaoliang react-native-v8 is the base library you need that handles everything. Along with that you need v8-android or v8-android-nointl installed too.

[2020-04-07 07:50] songxiaoliang commented on #42
@ammarahm-ed thanks, I have solved this problem through practice. anyway, Currently I am trying the difference between herms and react-native-v8

[2020-04-08 10:34] ammarahm-ed commented on #42
@songxiaoliang If you are creating a memory intensive application, v8 is the best choice to go, it has great garbage collection  and memory usage does not peak.

[2020-04-08 18:49] enahum commented on #42
@Kudo can you release 0.62.1 on npm? there is no needed changes on the patch, running the script is be enough (ran it locally and is all good, but I can't publish :P)

[2020-04-08 20:11] codecog commented on #42
0.62.2 now :)

[2020-04-08 20:18] enahum commented on #42
yeah, no changes needed for 0.62.2 either

[2020-04-09 16:12] Kudo commented on #42
Published `v0.62.1-patch.0` and `0.62.2-patch.1`, please let me know if there are any further questions.
(Please do not use 0.62.2-patch.0, which is incorrect version from my publish fault.)

[2020-04-09 16:15] Kudo commented on #42
@codecog

Will find some time to do that. My recent works is about to add inspector support.
Ideally we could do direct debugging and support TurboModules like Hermes.

[2020-04-10 20:50] sirsavary commented on #5
Hey @Kudo, cold start time is a big concern for us right now, is there any way we can help move this issue along? Even if we could just run an experiment/benchmark to see if bytecode caching is worth implementing into `react-native-v8`.

[2020-04-24 23:17] a-koka opened #43 "nointl module not found for 0.61.5"
Using `url("$rootDir/../node_modules/v8-android-nointl/dist")` doesn't work on my `react-native` version of `0.61.5`. Using the regular version ie. removing `nointl` works. Are all `nointl` versions being published properly?

[2020-05-02 03:47] Kudo commented on #43
nointl package is not depended by default and you should [add by hand](https://github.com/Kudo/react-native-v8#how-to-reduce-apk-size-).
Please check if v8-android-nointl is existed in your node_modules.

[2020-05-02 15:17] a-koka commented on #43
I feel so stupid. Thank you!

[2020-05-02 15:17] #43 closed

[2020-05-18 15:24] Jeevan-Kishore commented on #42
@Kudo Fantastic work. We were trying to come to a decision based on stats to switch over to V8 from hermes.

Are the benchmarking's available ?

[2020-05-20 02:09] Kudo commented on #42
@Jeevan-Kishore @codecog
I've just updated react-native-js-benchmark to compare JSC 230250, V8 8.0 and Hermes 0.4.1.
The result is here - https://docs.google.com/spreadsheets/d/1XB6fuk-NYZbCDikxQOAJemE-P8cfbsfdXivTeVwcwIk/edit?usp=sharing

[2020-05-20 13:05] magrinj commented on #42
@Kudo Thanks for your work and the benchmark, jsc looks better than Hermes and v8 from the results ?
So using up to date jsc with this library https://github.com/react-native-community/jsc-android-should get better performances than v8 ?

[2020-05-20 16:44] codecog commented on #31
@Kudo Any update on this mate or has it taken a back seat?

[2020-05-20 17:35] akshetpandey commented on #31
@codecog  this may be helpful https://github.com/microsoft/v8-jsi

[2020-05-21 05:33] Kudo commented on #42
I am sorry that I had a mistake to run benchmarks yesterday. (RNV8 not updated).
I've re-examined again with some changes:
1. Use arm64-v8a ABI to test
    - Many devices are arm64 right now.
    - V8 assumes to use less memory due to its Pointer Compression feature.
2. Add V8 JIT variant into the benchmark result.

@magrinj It's hard to say which JS runtime is better. There were some configuratio

[2020-05-21 05:37] codecog commented on #42
@Kudo is Jit activated on the android package? If not, how would i go about adding this? Appreciate the work you put in here.

[2020-05-21 05:42] Kudo commented on #42
@codecog It's my fault not updated the document.
There are packages like v8-android-jit or v8-android-jit-nointl, credit from @sirpy at https://github.com/Kudo/v8-android-buildscripts/pull/9
The integration is pretty much like [this](https://github.com/Kudo/react-native-v8#how-to-reduce-apk-size-)

I will update the document later.

[2020-05-21 05:44] codecog commented on #42
@Kudo Thanks for the direction

[2020-05-21 11:06] Kudo commented on #31
I am sorry that I don't have progress yet.

The most difficulty is about writing some utilities to patch user's existing project layout.
E.g. Renaming AppDelegate.m to AppDelegate.mm or patching xcodeproj to add V8Executor project.
Maybe it's better to write CocoaPods utilities.
I just don't have much time to do this.

[2020-05-21 20:32] sirpy opened #45 "mention android-v8 flavours"
add to docs how to install different flavour of android-v8 like JIT

[2020-05-22 23:52] codecog commented on #45
I will create a PR with instructions to use different flavours over the weekend 👍

[2020-05-26 02:46] jack-coder-25 opened #46 "App Size Is Still Large Even After Using No Intl Version"
Hello @Kudo

My app was about 12 MB (ARM V7) when using the intl version but after switching to no intl version it is now 10 MB  (ARM V7)  but the readme says it reduces 7 MB Per ABI. The same app was around 6 MB when using Hermes engine.

Side note: I am having pro guard enabled too

Please Help Me

- Computer: Windows 10 Pro
- React Native Version: 0.61.5
- React Native V8 Version: 0.61.5-patch.

[2020-06-02 12:24] gpawlik commented on #42
Hi! I am experiencing a significant performance degradation (specially with animations) after the upgrade to `react-native@0.62.2` and `react-native-v8@v0.62.2-patch.1` (from `0.61.4` and `0.61.1-patch.0` respectively). Is this something expected?

[2020-06-02 12:52] Alaa-Ben commented on #32
hi @Kudo
I upgraded my app to React Native 0.62.2, i'm using:
[code]
This issue still happens. What is weirs is that it happens only on the first time:

1. Create codepush update using appcenter-cli
2. Open app, user gets a modal informing him about the update. Press Yes.
3. App crashes et quits, logcat shows the error above (java.lang.IndexOutOfBoundsException). When I open the app again, update

[2020-06-02 13:22] gpawlik commented on #45
@codecog any update on this?

[2020-06-02 13:39] codecog commented on #45
@gpawlik https://github.com/Kudo/react-native-v8/pull/47

[2020-06-02 13:51] hoanglam10499 commented on #46
I think my issue like you, it's actually faster than hermes. But app size issue has not been resolved.

[2020-06-02 14:46] gpawlik commented on #45
Thanks!

[2020-06-10 03:43] a-koka opened #48 "nointl stopped working"
`nointl` suddenly stopped working for my app, no code changes were made. Removing it works.

Below is my error:
` Could not find any matches for org.chromium:v8-android:+ as no versions of org.chromium:v8-android are available`

This is my version:
`"react-native-v8": ">=0.61.5-patch.0 <0.61.6",`

[2020-06-11 01:01] Kudo commented on #48
Please make sure gradle could find the v8-android dependency.
[code]

BTW, what's the v8-android-nointl version you used?

[2020-06-11 01:08] Kudo commented on #46
I am sorry that I may not able to improve the binary size in the meantime.
V8 size is large compared to other VMs.
There were some discussions before: https://twitter.com/kudochien/status/1265838038745112576

[2020-06-11 01:12] Kudo commented on #42
@gpawlik Could you try RN 0.62.2 with JSC or Hermes?
I was curious if the degradation comes from RN.

On the other hand, please help me to double check the v8-android* version you used before and after upgrade.

[2020-06-11 01:13] Kudo commented on #37
I am going to close this issue as the problem may be fixed.
Please feel free to open again if the new version did not help.

[2020-06-11 01:13] #37 closed

[2020-06-11 03:19] a-koka commented on #48
That is indeed the change that breaks my build.

*gradle.build* like below works:
[code]

My *package.json* has this:

`"v8-android-nointl": "^8.80.1"`

Do I need to update my version?

This just started happening recently and there weren't any major code changes to my project. A `gradlew clean` caused this to start happening.

[2020-06-11 08:49] Kudo commented on #48
build.gradle should be like that
[code]

[2020-06-11 13:55] jack-coder-25 commented on #46
So seems like we have to trade off size for performance anyway it doesn't matter for some large apps 3 MB is not that much bad.

[2020-06-11 16:16] a-koka commented on #48
Yes, that is indeed the change that breaks my build. As shared earlier, this was all working a few days ago.

[code]

[2020-06-11 20:48] gpawlik commented on #42
Thanks @Kudo , I have been using `v8-android` `7.5.1` and upgraded to `8.80.1`. I have tried RN `62.2` with hermes and there was a slight improvement comparing with `v8`, and then tried with `jsc` and the performance problem has gone (app is still a little bit slower than on `v8` but acceptable).

[2020-06-12 19:42] Jalson1982 opened #49 "App crash on start"
Hello .. I am trying all day to setup v8 but no luck. I see in logcat this error:

No implementation found for com.facebook.react.bridge.Inspector com.facebook.react.bridge.Inspector.instance() (tried Java_com_facebook_react_bridge_Inspector_instance and Java_com_facebook_react_bridge_Inspector_instance__)
 E/unknown:ReactNative: Inspector doesn't work in open source yet
    java.lang.UnsatisfiedL

[2020-06-15 01:03] Kudo commented on #46
V8 lite mode stills has room to tune about the binary size.
I am looking forward to seeing if V8 team could do it.

[2020-06-15 01:08] Kudo commented on #48
I am not sure how you working previously.
However, to use nointl version you should:

1. has v8-android-nointl in node_modules. (e.g. by `yarn add v8-android-nointl`)
2. build.gradle should search dependency in v8-android-nointl.
    i.e. the change above is expected.

[2020-06-15 01:10] a-koka commented on #48
Please look at my issue above, I've included the line in package.json.

Here it is again for your ease:

[code]

[2020-06-15 01:16] Kudo commented on #49
For RN 0.62.2, please use react-native-v8 `0.62.2-patch-*` and the latest one is `0.62.2-patch.1`.

[2020-06-15 01:26] Kudo commented on #48
Please help to check if the v8-android-nointl folder is existed.
[code]

Execute gradle and get the output like
`search v8-android at /path/to/V862/android/../node_modules/v8-android-nointl/dist`

Then check if the file is existed or not.
`ls /path/to/V862/android/../node_modules/v8-android-nointl/dist/org/chromium/v8-android/8.80.1/v8-android-8.80.1.aar`

[2020-06-15 01:33] Kudo commented on #42
@gpawlik I am sorry that getting a little confused from the description:

It looks like Hermes and JSC has no performance issue on RN 0.62.2 but only V8, right?

[2020-06-15 01:37] a-koka commented on #48
Thank you! Not sure how but `$rootDir/../node_modules/v8-android-nointl` was no longer in place. A simple `npm i` fixed the problem.

[2020-06-15 01:37] #48 closed

[2020-06-15 07:54] gpawlik commented on #42
Only JSC has no performance issues, v8 has serious issues when it comes to screen transitions, animations and any touchable interactions. The performance isn't much better on Hermes, but I haven't tried it before 0.62.2 so it is difficult to compare.

[2020-06-15 08:37] enahum commented on #42
@gpawlik do you know what may be causing the perf degradation in your code?

In our app, we can use JSC and V8 no problem at all, but if we switch to hermes, we started to see horrible degradation as you described, but the code is so massive that we couldn’t track it down to anything specific.

[2020-06-15 08:48] gpawlik commented on #42
@enahum unfortunately I was not able to track down the exact cause of this degradation (similarly, our codebase is massive), but in the coming weeks I might spend more time doing this investigation so I will keep you updated.

[2020-06-16 17:54] Jalson1982 commented on #49
Hello thx it works. I want to ask you what exact improvement we can expect with V8 ? To be honest I hate my life when I need to deal with Android performances in react native. Will V8 be able to speed up JS execution?

[2020-06-18 06:03] Kudo commented on #49
From my previous benchmark, V8 will not help a lot compared to Hermes or JavaScriptCore, except you use the v8-android-jit version.
Performance issue is complicated and it is highly depended with your application.
If your application is heavy JS computing one, then the better JS engine may help.

Please always do profiling and find the bottleneck first.

[2020-06-18 06:12] Kudo commented on #42
The current JSC has lightweight JIT. From my previous benchmark, the JSC has better performance than Hermes or V8 (not the v8-android-jit version).

However, performance highly depends on applications.
Do you use Animated, Animated with native driver or even Reanimated?

[2020-06-18 08:39] gpawlik commented on #42
Yes, I use Animated (with `useNativeDriver` specified), although the performance degradation happen equally on screens and components with no animations at all and with simple interactions like button tap, etc.

[2020-07-11 19:52] jesse-savary commented on #31
@Kudo My team is interested in helping with this feature but we're not entirely sure where to start.

Do you have any references on how we would go about writing CocaoPods utilities?

[2020-07-13 04:44] tamacroft opened #50 "react native version mismatch"
I have upgrade react native version to 0.63, but if i run on android, show error "react native version mismatch" 0.63 with 0.62, but if i run in simulator, its work and no error pop up.

[2020-07-13 08:39] khalisafkari commented on #50
Same

[2020-07-13 08:43] tamacroft commented on #50
temporary I update manual this lib in node_modules

[2020-07-16 02:46] jinshin1013 opened #51 "New Patch for react-native 0.63"
### The problem
Does `react-native-v8` have to release a patch for `react-native@0.63`? Or should the existing `react-native@0.62` patch work fine?

Related to #50

[2020-07-22 02:20] Kudo commented on #51
RN 0.63 support is ready.
Please try `react-native-v8@0.63.0-patch.0` or `react-native-v8@0.63.1-patch.0` and feel free to let me know if you encounter any problems.
Thank you.

[2020-07-22 02:20] Kudo commented on #50
Please try `react-native-v8@0.63.0-patch.0` or `react-native-v8@0.63.1-patch.0` and feel free to let me know if you encounter any problems.
Thank you.

[2020-07-22 02:22] Kudo commented on #45
Thanks to @codecog that #47 was merged and I am going to close this.

[2020-07-22 02:22] #45 closed

[2020-07-22 03:06] jinshin1013 commented on #51
@Kudo The new patch worked great! Cheers :)

[2020-07-22 03:06] #51 closed

[2020-07-27 15:39] Kudo commented on #50
I am going to close this issue. Please feel free to let me know if there are any further problems after upgrading to `0.63.*-patch.*`

[2020-07-27 15:39] #50 closed

[2020-07-27 15:51] Kudo commented on #31
@jesse-savary Thanks for willing to help on this.
The desired output might be something like the [diff](https://github.com/Kudo/react-native-v8/issues/31#issuecomment-562489753) or [real project](https://github.com/Kudo/RNV8Test).
I am not familiar CocoaPods utility and may not able to provide some good reference for you.

Well, another approach may to use the xcode npm module to patch xcodeproj f

[2020-07-29 01:46] Kudo commented on #31
Mentioned react-native-cli, that reminds me yet another approach, to simply scratch from a hand made project layout and added as a react-native-cli template. That might be easier. I'll take some time to try.

[2020-07-29 19:20] Gutyn commented on #51
@Kudo do you have a quick doc on how to build v8? I have a fork of RN and a fork of v8 and I used to do fine:
`rm -rf build && rm -rf dist && scripts/build.sh && tar cvfz dist.tgz dist`
and now it fails with multiple problems.
Are you able to help me real quick? Thank you.

[2020-08-02 06:13] Kudo commented on #31
Dears, I have added a template and looks mostly working fine.
Please have a try and give me feedback if there are any problems.

1. `npx react-native init RNV8IOS --template react-native-template-v8`
2. There is still an handy action, please open `RNV8IOS/ios/RNV8IOS.xcworkspace`, selecting V8Executor target and drag "Codesign libv8.dylib" after "[CP] Copy Pods Resources". Like the attached screen

[2020-08-03 18:51] Gutyn commented on #23
The newest v8 with rn 63 results in:

[code]

Have you seen this @Kudo ?

[2020-08-12 00:50] Gutyn commented on #23
@Kudo I am sorry for bothering you with this, I understand that this repo is not intended for my use case but please tell me just one thing, how do you build it? I am going crazy here.

[2020-08-12 05:52] Kudo commented on #23
@Gutyn react-native-v8 for Android build is like what RN Android did - by the [build.gradle](https://github.com/facebook/react-native/blob/0.63-stable/ReactAndroid/build.gradle), [Application.mk](https://github.com/facebook/react-native/blob/0.63-stable/ReactAndroid/src/main/jni/Application.mk) and some Android.mk.

react-native-v8 did some patches for existing build.gradle and Android.mk to make

[2020-08-12 15:15] Gutyn commented on #23
@Kudo ok thank you very much, will try building rn without v8!

[2020-08-13 04:16] muhammadwafa opened #53 "Pros and cons"
`Why should we use v8 engine in react-native?`
 Could someone please help what is the main benefit of **v8 engine over javascript core**.

`When should we use v8 engine in react-native?`
 Which time actually we are in need of **v8 engine**.

`Is there cons points of using v8 engine in react-native?`

[2020-08-14 00:01] Gutyn commented on #23
Was able to figure it out, THANK YOU @Kudo for this package and all your hard work. Will try not to bother you too often :)

[2020-08-22 17:13] hoangpham95 opened #54 "Cannot load libv8executor.so due to missing symbol"
I am trying to build my application with react-native-v8 (RN 0.62.2) and got this error
[code]
I'm using `com.facebook.soloader:soloader:0.9.0` and have android ndk-21 installed.

It looks like the SoLoader can still find the libv8executor.so but it's looks like the libv8executor cannot reference `v8::v8::Initialize()`. Do you know if this is an existing issue, and if yes, how could I resolve this

[2020-08-26 02:33] Kudo commented on #53
IMO, the selling point is v8-android-jit.
If your app relies on heavily JS computing power, V8 with JIT is the best choice.

On the other hand, the disadvantage of V8 is about its binary size.
It will increase final APK size.

[2020-08-26 02:38] Kudo commented on #54
Could you please provide your exact version of `react-native-v8` and `v8-android-*`?

[2020-08-26 17:54] hoangpham95 commented on #54
I'm running 0.62.2-patch.1 for react-native-v8 and 8.84.0 for v8-android.

[2020-08-27 07:53] ashishfeels commented on #42
how should i setup in 0.61.4 @Kudo i'm not able to find similarity in build.gradle file

[2020-08-28 02:57] muhammadwafa commented on #53
@Kudo thank you,

Could you please let me know, is v8 still better than hermes? will v8 compiled and worked on ios too? as you know hermes only available on Android.

[2020-08-31 00:59] Kudo commented on #53
It depends. If you are talking about JS performance, V8 with JIT should be better than Hermes.
On the other hand, Hermes's binary size is dramatically smaller than V8.
This is also a reason Hermes's TTI is fast.

Supposedly yes, please check [react-native-template-v8](https://github.com/Kudo/react-native-v8/blob/master/packages/react-native-template-v8/README.md)

AFAIK, Hermes has macOS support n

[2020-08-31 16:17] muhammadwafa commented on #53
Thank you very much

[2020-09-02 19:10] hoanglam10499 commented on #54
I have the same issues with version 0.62.2

[2020-09-03 05:04] Kudo commented on #54
Please try to upgrade `react-native-v8@0.62.2-patch.2`
0.62.2-patch.1 is not compatible with v8-android 8.80.

There is a quick question.
Do you have v8-android-* explicitly listed in project's package.json?

[2020-09-10 18:23] hoangpham95 commented on #54
I do have v8-android-* explicitly listed as a dependency. I've upgraded by RN app to 0.63.2 and use the 0.63.2 patch instead. It's working as expected.

[2020-09-12 09:42] Kudo commented on #54
Thanks for your answer. Since V8's ABI is not stable between releases. Versioning between react-native-v8 and v8-android-* needs to be coupled. The way to manage the versioning is difficult
Thinking about if `peerDependencies` help to prevent for this case. 🤔

[2020-09-23 11:12] aganov commented on #54
`0.61.5-patch.3` is incompatible with v8 `8.84.0`. Downgrading to `8.80.1` solves the issue.

[2020-10-02 16:57] OlivierFreyssinet opened #55 "Different variant depending on buildType or ENV ?"
Is it possible to configure gradle so that it takes a different v8 variant depending on the app's buildType ?

I would like to use `v8-nointl` in production but `v8-jit-nointl` in debugging to avoid impacting the battery too much in prod but at the same time have the best development experience with blazing fast reloads thanks to JIT compilation.

If it was configured in app/build.gradle then I wo

[2020-10-05 11:06] jacquesdev opened #56 "Confirm v8 installation"
We recently started using the INTL in our app, and for some of users it seems it's not supported (getting crash alerts). This surprised us because we assumed that v8 supported, and since I assume it does, I'm guessing it's possibly not installed properly.

Can someone please confirm how I could doublecheck that? I saw there was some mention of it not being support in the debugger, so just wanted t

[2020-10-06 13:59] Kudo commented on #55
It is possible for gradle to specify exact path.
You could refer from [hermes setup](https://github.com/facebook/react-native/blob/master/template/android/app/build.gradle#L207-L209)

[2020-10-06 14:04] Kudo commented on #56
Needs more information for this.
1. Is it correct that "with the same APK, some user run with Intl support and some did NOT."?
2. Could you share the crash backtrace?
3. Assuming you could not reproduce the problem in house, is it true?

Thank you and hopefully we could find some way to find the problems.

[2020-10-06 21:28] jacquesdev commented on #56
Hello @Kudo .

I was going through crash logs and noticed that I totally missed the platform, which in this case was not even Android related.🤦‍♂️ (Was iOS9).

But that made the fix so much easier, thank you!

[2020-10-06 21:28] jacquesdev commented on #56
And sorry for wasting your time

[2020-10-06 21:28] #56 closed

[2020-10-07 00:21] Kudo commented on #56
No problems. Feel free to let me know if there are any further questions.

[2020-10-21 14:40] kmkrtich opened #57 "RN 0.63.3 support"
This issue is just for getting info when we will get update for React Native 0.63.3 ?
Because React 0.63.2 is very bad release and is having a lot of issues on IOS.

**Some issues/notes related to 0.63.2-patch.1**
- app startup time was increased from 2.2s to 2.6s (hermes is already 1.5s)
- app size was increased by 4MB (not sure whether it's connected with engine)

[2020-10-21 17:21] Kudo commented on #57
0.63.3-patch.0 published, please take a look.

For the app startup time / size, which previous version did you compared from?

[2020-10-21 19:18] kmkrtich commented on #57
Wow, cool.
Startup time comparison was done with 0.61.5

[2020-10-22 16:25] Kudo commented on #57
The were a lot of changes in react-native between 0.61 and 0.63.
I am afraid that the differences are from react-native internally.

If you would like to compare more in detail, I've publish `react-native-v8@0.61.5-patch.4`.
The v8runtime implementation are exactly the same with 0.63.3-patch.0.
As well as that they all use v8-android 8.84.0.

[2020-10-22 16:26] Kudo commented on #54
@aganov I am sorry for late. The `react-native-v8@0.61.5-patch.4` is published to support v8-android 8.84.
Please take a look if you still on 0.61.5.

[2020-11-02 09:23] gauravsbagul commented on #49
Hi, I also have the same issue,
On start app crashes I have install

[code]
I have made all the required changes in build.gradle and app/build.gradle

[2020-11-02 16:03] Kudo commented on #49
@gauravsbagul For react-native@0.63.2, please use react-native-v8@`0.63.2-patch.1`.

[2020-11-03 09:08] gauravsbagul commented on #49
Thanks, it worked (y)

[2020-11-03 15:23] Kudo commented on #49
@gauravsbagul In current react-native design, if you enable remote debugging, the JS engine is proxied to and running inside Chrome browser.
That is not running by react-native-v8 and no `global._v8runtime` as well.

[2020-11-04 13:58] gauravsbagul commented on #49
Yes, resolved, Thank you

[2020-11-20 08:32] NEOCG opened #58 "RN 0.57.8 support?"
Is it possible to use react-native-v8?

"react": "16.8.1",
"react-native": "0.57.8"

What kind of patches should be installed?

Many thanks
Rene

[2020-11-25 01:00] Terfender opened #59 "How to disable hermes?"
Hi, I am getting an error cuz of hermes.

[code]

app/build.gradle
[code]

Related packages:
[code]

Any ideas how to disable it so I can use `v8-android-jit-nointl`?

Thanks in advance.

[2020-11-25 14:23] dcboy commented on #59
modify android/build.gradle

         maven {
-            // remove this
-            url("$rootDir/../node_modules/react-native/android")
+            // Replace AAR from original RN with AAR from react-native-v8
+            url("$rootDir/../node_modules/react-native-v8/dist")
+        }

[2020-11-25 16:26] Terfender commented on #59
@dcboy already did.

[code]

[2020-11-25 16:50] Kudo commented on #59
It seems to be related to reanimated2.
Since reanimated2 also had a native share library and it may not support V8,
I will take a look tomorrow and try to find some solutions.

[2020-11-25 16:52] Terfender commented on #59
Thanks @Kudo , confirming I am using reanimated2
[code]

[2020-11-26 01:26] Kudo commented on #59
@Terfender From the reanimated2 document, they said only Hermes is supported in the meantime.
https://github.com/software-mansion/react-native-reanimated/blob/master/docs/docs/about.md#known-problems-and-limitations

The fact is that reanimated2 requires JSI and shipped with prebuilt AAR and shared libraries - libreanimated.so and libturbomodulejsijni.so.
libreanimated.so was built from a Hermes e

[2020-11-26 01:38] Terfender commented on #59
Oww. That's unfortunate, but thanks a lot for looking into this. I hope there will be an easy patch for all libs/packages in the future to opt-in v8.

Closing the issue now.

[2020-11-26 01:38] #59 closed

[2020-11-26 07:48] Kudo commented on #59
With more and more C++ native code involved, shipping with prebuilt AAR in react-native is not flexible.
Maybe in the future we will all build from source. Otherwise [C++ ABI stability](https://github.com/react-native-community/discussions-and-proposals/issues/257) is necessary.

[2020-11-28 03:31] RZulfikri commented on #31
@Kudo I'm trying to implement this in my project based on react-native-template-v8 that you mention. it works on simulator and devices, but one I'm trying to archive I got this error. does anyone know how to solve this issue?

<img width="756" alt="Screenshot 2020-11-28 at 02 34 16" src="https://user-images.githubusercontent.com/24998199/100492962-c534e200-3164-11eb-80fd-d84020393015.png">

[2020-12-04 19:47] SrBrahma opened #60 "Does it support Intl.RelativeTimeFormat?"
Hey,

when using default react-native and adding the intl in the jscFlavor, the Intl.RelativeTimeFormat isn't available yet (is undefined). I have found this lib, and I want to know if it supports it.

Thanks!

[2020-12-09 01:28] dcboy opened #61 "RN 0.63.4 support ?"
when support RN 0.63.4 ?
thx

[2020-12-16 11:19] vtoupet commented on #61
Up. I am also interested

[2020-12-23 02:04] Kudo commented on #61
Sorry for late.
react-native-v8@0.63.4-patch.0 is published. Please take a look.
Thanks.

[2020-12-29 14:42] dcboy commented on #61
Thx so great

[2021-02-18 16:35] Kudo commented on #61
Going to close this issue. Please feel free to open new one if there are any other problems.

[2021-02-18 16:35] #61 closed

[2021-02-18 16:37] Kudo commented on #57
Going to close this issue as there are no further response. Please feel free to reopen or open new one if there are any other problems.

[2021-02-18 16:37] #57 closed

[2021-02-18 16:38] Kudo commented on #55
Going to close this issue as there are no further responses. Please feel free to reopen or open new one if there are any other problems.

[2021-02-18 16:38] #55 closed

[2021-02-18 16:38] Kudo commented on #54
Going to close this issue as there are no further response. Please feel free to reopen or open new one if there are any other problems.

[2021-02-18 16:38] #54 closed

[2021-02-18 16:39] #53 closed

[2021-02-22 11:45] vtoupet opened #62 "V8 version seems to be stuck to 8.8.278.15 with 0.63.4-patch.1"
I've install v8:
[code]
When launching, the console log shows me `V8 version is 8.8.278.15`

@Kudo Do you know what could be wrong?

[2021-02-23 01:33] Kudo commented on #62
@vtoupet The version `8.8.278.15` is the true V8 version. The major version + minor version corresponds to chrome version, e.g. this version is used by chrome 88.

For the versioning on npm, since it is for react-native-v8, the major version is preserved to prevent react-native-v8 use incorrect version of v8-android.
E.g. `react-native-v8@0.63.4-patch.0` has peerDependency of `v8-android^8.84.0` a

[2021-02-27 04:06] RodolfoGS opened #63 "[V8 + expo bare] SyntaxError: Invalid or unexpected token"
Hi, I'm trying to migrate to V8 engine since I read awesome reviews regarding the performance.

Currently I have a project with Expo Bare workflow and I'm trying to implement v8.
I followed the readme to implement it and works great, when I run my app in debug mode all works as expected, perfectly.
But when I create a release APK, when the app is starting I'm getting the following crash. Someone k

[2021-02-27 09:35] Kudo commented on #63
Did you try to clean build or removing build folder first?
Looks like the generated bundle is not a valid JavaScript bundle, sometimes it might be a Hermes generated bytecode bundle.

[2021-02-27 14:49] RodolfoGS commented on #63
Hi @Kudo, thanks for your response. I just already clean the project (Android Studio -> Build -> Clean Project) and run this command: `cd android && ./gradlew clean`

But I'm continue having the crash, I don't know what could be happening

[2021-02-27 15:12] RodolfoGS commented on #63
I notice that I'm getting this error when I run: `cd android && ./gradlew clean`. I already deleted node_modules but nothing changed, same issue.

[code]

[2021-02-27 15:49] Kudo commented on #63
The new error from gradle looks weird. maybe you could double check what `build/bin.js, config` doing.

Please also makes sure `enableHermes` as false [here](https://github.com/facebook/react-native/blob/master/template/android/app/build.gradle#L121) in your build.gradle.

[2021-02-27 16:12] RodolfoGS commented on #63
I had `enableHermes` on true, I changed it but I'm continue having the same issue with `gradlew clean`.

Where is the `build/bin.js, config` file?, I doesn't have it

[2021-03-03 09:33] Farmscraft commented on #49
"dependencies": {
   **...Other dependencies**,
     "react": "16.11.0",
    "react-native": "0.62.1",
    "react-native-v8": "0.62.1-patch.0",

    **...Other dependencies**,
  },

  App crash on start.

[2021-03-06 13:48] tamacroft opened #64 "Support react native reanimated 2"
is this lib support react native reanimated 2 which is required to use hermes in their documentation?

[2021-03-08 21:57] afkcodes opened #65 "Unable to build with React native google signIn & toolbar_android"
[code]

[code]

I was just trying to move to v8 but it keeps giving me errors
i have cleaned everything and then tried got the same issue.
Attaching two logs 1st one is from toolbar android & 2nd one is from react-native-community_google-signin

[2021-03-09 02:40] Kudo commented on #64
reanimated2 [creates a Hermes runtime in there code](https://github.com/software-mansion/react-native-reanimated/blob/master/android/src/main/cpp/NativeProxy.cpp#L93), the only way to support V8 should be patch reanimated2 and build from source unfortunately.

[2021-03-09 02:43] Kudo commented on #49
@Farmscraft What's the version of v8-android? You could check the version at yarn.lock.

[2021-03-09 03:05] Kudo commented on #63
build/bin.js config is from your error message
`Calling `[node, /xx/node_modules/react-native/node_modules/@react-native-community/cli/build/bin.js, config]` finished with an exception. Error message: groovy.json.JsonException: Unable to determine the current character, it is not a string, number, array, or object`

Probably to cleanup node_modules and reinstall all modules again?

[2021-03-09 03:06] Kudo commented on #62
I am going to close this issue. Please feel free to reopen in case there are any other questions.

[2021-03-09 03:06] #62 closed

[2021-03-09 03:08] Kudo commented on #65
What's your verions of these modules: (you could check in yarn.lock)?
 - react-native
 - react-native-v8
 - v8-android

[2021-03-09 03:13] afkcodes commented on #65
i am using npm: here is the version details
[code]

[2021-03-09 03:26] RodolfoGS commented on #63
I made that but didn't work, same result. The rare is that when I run as develop the app works, the crash only appears when I create a release APK.
I tried to create a minimal reproducible example but with a new project works as expected, so it seems that is an issue with (maybe) same library that I'm using, I don't know

[2021-03-09 03:44] Kudo commented on #63
You have to set enableHermes as false. Otherwise, the generated JS bundle will be Hermes bytecode bundle.

[2021-03-09 03:51] RodolfoGS commented on #63
Yes, I did that. I disabled Hermes, removed node_modules, clean build folder, sync, removed .gradle and .idea folders, npx jetify... nothing, doesn't work 😔

[2021-03-09 05:21] Kudo commented on #65
How about the react-native version?

[2021-03-09 05:38] afkcodes commented on #65
oh sorry @Kudo just tried it once again now rechecking configuration, its working now but the size is too big, how do i use no-intl version ?

[2021-03-09 05:58] Kudo commented on #63
Could you double check the content of index.android.bundle?
E.g. This is output of Hermes bundle
[code]

This is normal JS bundle
[code]

[2021-03-09 06:01] Kudo commented on #65
Unfortunately, V8's binary size is really huge.
You could try nointl anyway.

1. `yarn add 'v8-android-nointl@9.88.0'`
2. [Check this document to modify your v8 path to v8-android-nointl in gradle](https://github.com/Kudo/react-native-v8#v8-features-flags)

[2021-03-10 02:54] RodolfoGS commented on #63
Hey @Kudo, thank you so much for your help! Finally I could fix the issue. I see the bundle generated into the APK (index.android.bundle) and was a binary file. So, seems that Android Studio was continue building the project with Hermes enabled even though it was in false.
I made every thing to clean the cache. Clean project, remove node_modules, Invalid cache / restart Android Studio.. all and fi

[2021-03-10 02:54] #63 closed

[2021-03-10 11:38] #65 closed

[2021-03-13 03:06] exneval opened #66 "Support v8 of RN 0.64"
React Native 0.64 stable just out
It will be great to support that version with v8

cc @Kudo
Thanks for the hard work

[2021-03-20 11:35] marf commented on #32
Hello, we have this issue too? Any ideas on how to fix it?

[2021-03-22 16:34] aniltirola opened #67 "could I use latest version for 0.63.4"
Hi @Kudo,
thanks for your awesome work; I realized latest patches including until Mar 17, 2021.
Would you also provide a version including these patches for using with react-native `0.63.4`?
We use in  our environment `react-native-v8` with `v8-android-nointl`.

Regards anil

[2021-03-25 15:32] Rohan-ult opened #68 "How to check if it's runing v8-jit ?"
I used `v8-android-jit-nointl` But I can I check if it's really ruining on `JIT` version?
[code]
My `android\build.gradle`
[code]

[2021-03-25 15:59] Rohan-ult commented on #67
Are you looking for this [ #61](https://github.com/Kudo/react-native-v8/issues/61) ?
Also, there is two patches for `0.63.4`
1. [ react-native-v8@0.63.4-patch.0](https://www.npmjs.com/package/react-native-v8/v/0.63.4-patch.0) Published 3 months ago
2. [ react-native-v8@0.63.4-patch.1](https://www.npmjs.com/package/react-native-v8/v/0.63.4-patch.1) Published a month ago

[2021-03-25 16:13] nurmohammed840 commented on #58
There is no patches for `0.57.8`, Maybe because RN-0.57.8 is too outdated!

The latest version for RN-0.64.0 is `react-native-v8` another word `react-native-v8@0.64.0-patch.0`  which Published 8 days ago...

[2021-03-25 20:03] aniltirola commented on #67
thanks @Rohan-ult !
I already use `react-native-v8@0.63.4-patch.1`.
But I was interested in the patches after `Feb 18 2021`, but I don't know if this would make sense.

[2021-03-26 00:45] Kudo commented on #67
@aniltirola The patches was only for RN 0.64, basically to fix build break from RN changes.
There are no differences between `0.63.4-patch.1` and `0.64.0-patch.0`.

[2021-03-26 01:16] Kudo commented on #68
Unfortunately, V8 seems not have this in public API and there are no ways to get the runtime information (e.g. JIT mode) through a programmatically way.

You could, however, to check the MD5 of libv8android.so.
[code]
And check if the MD5 is matched or not.

For jsc-android, if you want to remove this, please also remove the `implementation jscFlavor` in /path/to/RNProject/android/app/build.gradle

[2021-03-26 01:22] Kudo commented on #32
Could you have a sample repo to have the issue?
You could leave the deployment key as stub string and I could replace with my own.
Appreciating if you could have a sample.

[2021-03-26 08:22] #67 closed

[2021-03-26 11:55] marf commented on #32
Hello, unfortunately, we do not have a reproducible demo, but we see in crash logs that on our release version once we apply a code-push patch crashes spikes while if we do not release a code-push patch no crash happens. We auto-apply the code-push patch without showing an alert to update it. We are at the disposal to share our project code-base if you want but I think it may be better to try to i

[2021-04-01 14:11] hanhailong opened #69 "How do I compile this project myself？"
How do I compile this project myself？

[2021-04-06 01:56] #69 closed

[2021-04-07 12:34] hanhailong commented on #64
@Kudo  When I switched the engine to V8,there was an error in reanimated2，this means that just switching engine code is not enough

[2021-04-22 00:05] rohit-32 opened #70 "Bundle not loading"
Hello I followed your instruction but i keep getting error `Exception in HostFunction: Value is an object, expected a number global.nativeLoggingHook(str,log.Level) while running the app`

my app/gradle file

`
apply plugin: "com.android.application"
apply plugin: 'kotlin-android'
apply plugin: 'kotlin-android-extensions'
apply plugin: 'kotlin-kapt'
apply from: "../../node_modules/react-native-vec

[2021-05-07 09:35] piaskowyk commented on #64
Hey @Kudo
I have tried to add support for V8 runtime in Reanimated, but I found an issue. When I call a function with `callWithThis()` this doesn't set `jsThis` property. This happens exactly in this line: https://github.com/software-mansion/react-native-reanimated/blob/%40piaskowyk/flipper/Common/cpp/SharedItems/MutableValue.cpp#L46
Maybe you know a quick answer or suggest why? If not I can try t

[2021-05-22 12:44] dianappsmahendra commented on #49
[code]

if i use v8-android then its working fine and if i want to use v8-android-jit then it crash when app start after bundle load

[2021-05-24 04:27] dianappsmahendra commented on #49
Resolved

[2021-05-28 15:45] biomancer commented on #70
I am using react-native-v8 with v8-android-nointl and I was getting the same error when I upgraded react-native-v8 to 0.64.0-patch.0 and left v8-android-nointl@8.84.0. Upgrading v8-android-nointl to latest 9.88.0 version fixed the issue.
So probably there is some mismatch in react-native-v8 and v8-android versions in your case too.

[2021-06-01 15:28] xRiot opened #71 "RN 0.64 - dlopen failed: library "libjsc.so" not found"
Hey there!

We've setup our react-native project with the [react-native-template-typescript](https://github.com/react-native-community/react-native-template-typescript) and we're using [react-native-reanimated@2.2.0](https://github.com/software-mansion/react-native-reanimated). It looks like `0.64.0-patch.0` isn't working with reanimated due to `libjsc.so` being excluded in `packagingOptions` as i

[2021-06-01 19:03] Gutyn commented on #69
## v8 with RN forked.
- [ ] `git clone https://github.com/YourRepos/react-native.git`
- [ ] cd into `react-native`
- [ ] `git checkout <branch>` where branch is the name of the branch you're trying to compile
- [ ] `git clone git@github.com:YourRepo/react-native-v8.git`
- [ ] cd into `react-native-v8`
- [ ] make sure `scripts/build.sh` points to our fork rather than facebook repo.
- [ ] `yarn inst

[2021-06-04 08:25] rosskhanas commented on #66
@Kudo is it ok to use `react-native-v8@0.64.0-patch.0` with `react-native@0.64.2`? If not, is there a chance to make a patch for `0.64.2`? Thank you 😊

[2021-06-05 13:47] gengjiawen opened #72 "build failed for latest react native"
[code]

[2021-06-22 11:50] kmkrtich opened #73 "RN 0.64.2 support"
Do you have any plans for ReactNative 0.64.2 patch ?
If yes. approximately when to expect ?

[2021-06-26 11:59] Kudo commented on #73
`react-native-v8@0.64.2-patch.0` is published. please take a look.
if there are any problems and report an issue to me. thanks!

[2021-06-26 11:59] #73 closed

[2021-06-26 12:00] Kudo commented on #66
@rosskhanas `react-native-v8@0.64.2-patch.0` is published. please take a look.
if there are any problems and report an issue to me. thanks!

[2021-06-26 12:00] #66 closed

[2021-06-26 12:02] Kudo commented on #72
master branch changes frequently and the patch getting easy to break.
i will not keep follow master but welcome for a pr to fix it.
thank you!

[2021-06-26 12:02] #72 closed

[2021-06-26 12:05] Kudo commented on #71
sorry that reanimated does not support v8 in the meantime.
it's a known issue as #64.

[2021-06-26 12:05] #71 closed

[2021-07-07 23:03] omranjamal opened #74 "Does this package work well with RAM Bundles?"
Just curious if this package can efficiently load RAM bundles or does it load it all in one go even if it's a RAM bundle?

[2021-08-10 11:00] Victoriayangx opened #75 "V8 Runtime platform crash issue"
For Android，I embed V8 into  ReactNative Sdk, And Found an issue.

**1. Environment:**
ViewPager with Two Fragment：Fragment A & Fragment B, Every Fragment  init a ReactRootView with different Bundle, with different ReactInstanceManager.
Because ViewPager has PageCache, These two Fragments nearly init at the sameTime.

And it crashes At this Line :
https://github.com/Kudo/react-native-v8/blob/e9d55

[2021-08-13 10:19] Kudo commented on #75
nice finding! would you mind to open a pr for the solution?

[2021-08-18 02:17] wulafu opened #77 "java.lang.UnsatisfiedLinkError: couldn't find DSO to load: libhermes.so"
java.lang.UnsatisfiedLinkError: couldn't find DSO to load: libhermes.so

[2021-08-18 19:52] PaulDuong1 opened #78 "V8 crash in RN 0.64.2"
I'm trying to upgrade RN to 0.64.2, and I upgrade v8 patch too, but still met some problem.

This is the crash info I got from android studio

`D/SoLoader: About to load: libyoga.so
D/SoLoader: libyoga.so not found on /data/data/com.shipt.groceries_staging/lib-main
    libyoga.so found on /data/app/com.shipt.groceries_staging-fgDcIFJvur8qvf05CqH-wg==/lib/x86
    Not resolving dependencies for liby

[2021-09-05 10:31] Kudo commented on #77
please double check your `react-native` aar is our revised version. i.e., should NOT have this in your `android/build.gradle`
[code]

[2021-09-05 10:31] #77 closed

[2021-09-05 10:38] Kudo commented on #78
please provide more adb log or having a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example).

[2021-09-05 10:38] #78 closed

[2021-09-05 10:40] Kudo commented on #70
the `react-native-v8` version should map to `v8-android-*` version. i've updated the README for the full version mappings.

[2021-09-05 10:40] #70 closed

[2021-09-06 09:10] zanechua opened #81 "Failed to locate symbol _ZN2v87Isolate12CreateParamsD1Ev"
[code]

Currently on:

* `react-native`: 065.1
* `react-native-v8`: 0.65.1-patch.0
* `v8-android-jit-nointl`: 9.88.0

[2021-09-06 09:23] zanechua commented on #81
Closing as the solution is to upgrade `v8-android-jit-nointl` to `9.93.0`.

Missed it because `9.93.0` was tagged as next and not latest.

[2021-09-06 09:23] #81 closed

[2021-09-09 20:22] PaulDuong1 commented on #78
@Kudo Just want to be clear, updating V8 should just update patch version in package.json right?

[2021-09-14 21:29] PaulDuong1 commented on #78
I think I find what's going wrong, we are using V8 variant v8-android-jit-nointl and I forgot to update it at the same time.

But that wired error can not remind me that I forgot to do something, I still don't where that error came from.

[2021-09-15 15:31] #75 closed

[2021-10-02 18:21] makarkotlov opened #83 "App crash on RN 0.65.1"
Hi! Thank you for your awesome work! I need your help to figure out why RN app crashes on startup, because I don't have much experience debugging native crashes.

I used:
"react-native": "0.65.1",
"react-native-v8": "^0.65.1-patch.0",
"v8-android-nointl": "^9.93.0"

And I got this error:

`A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x605 in tid 4818 (mqt_js), pid 4779`

Bu

[2021-10-03 09:41] Kudo commented on #83
i test on clean RN 0.65.1 project and works fine for me.
can you try to remove node_modules and reinstall packages again?
besides, please double confirm the maven repo like this (must be `v8-android-nointl`)

[code]

[2021-10-03 09:57] makarkotlov commented on #83
oh that's weird, can you check this repo please https://github.com/makarkotlov/react-native-snake-game/tree/v8? I did everything you advised and config seems alright but the error persists. Thank you in advance

[2021-10-03 14:39] Kudo commented on #83
i just cloned your repo and it works fine for me. maybe just one difference: i deleted `package-lock.json` and used `yarn install` instead.

[2021-10-03 16:25] makarkotlov commented on #83
Thank you very much! My issue has something to do with android emulator. It works on real device, so I'm closing the issue. Thanks again!

[2021-10-03 16:26] #83 closed

[2021-10-04 09:33] JerakRus opened #84 "Support RN 0.66"
Hi! New version RN (0.66) is released. When we can use it? Thank you in advance!)

[2021-10-11 06:34] dcboy opened #87 "0.63.4-patch.1 support 9.93.0?"
i hope that version 0.63.4-patch.1 can support v8-android* version 9.93.0

thx

[2021-10-14 09:41] Qallitix opened #88 "react-native-v8 and polkadot js"
I have project where i use polkadot js and using it with hermes causes performace issues for user. I tried to use v8 and polkadot js, but for some reason it's just freezes on any library method for ever. I don't have any idea why this is could be, maybe you can help me with it? Also i use node-libs-react-native for crypto js and other node js dependencies that this library needs.

[2021-10-16 06:08] jzxchiang1 opened #89 "WebAssembly doesn't work"
I've tried this on an Android Pixel 3 emulator with:

RN v0.64.1, v8-android-jit v9.88.0 (V8 v8.x)
RN v0.65.1, v8-android-jit v9.93.0 (V8 v9.x)

The result is the same: `await WebAssembly.compile(...)` and `await WebAssembly.instantiate(...)` hang forever and never complete. Funny enough, `WebAssembly.validate(...)` (which is not async) completes just fine.

To reproduce this, try running this in

[2021-10-20 06:38] jzxchiang1 commented on #89
The latest update is that we might need to "pump the message loop".

See the following links for context:

https://bugs.chromium.org/p/v8/issues/detail?id=12318&q=component%3AWebAssembly&can=1
https://groups.google.com/g/v8-users/c/lRe7WrCkHCE

[2021-11-04 23:40] egueiros commented on #64
@Kudo I'm getting this error when trying to build for Android:
`Transform's input file does not exist: /Users/.../node_modules/react-native-reanimated/android/react-native-reanimated-66-v8.aar. (See https://issuetracker.google.com/issues/158753935)`

What did I miss? Thank you!

[2021-11-05 00:01] egueiros commented on #64
Oh, I think it's because I'm using RN 0.66.1 🤦‍♂️

[2021-11-12 05:50] AbhiGhorai commented on #74
@Kudo could you answer this, its important for us to know about the RAM bundle support.

[2021-11-12 10:44] Kudo commented on #74
RAM bundles doesn't rely on some specific js engine features, so it should be supported. please refer this react native document to verify: https://reactnative.dev/docs/ram-bundles-inline-requires#enable-the-ram-format

[2021-11-12 10:44] #74 closed

[2021-11-14 17:03] #89 closed

[2021-11-16 06:36] jzxchiang1 commented on #89
Do these commits fix the issue?

Would you like me to help test? Thanks.

[2021-11-19 00:12] arasrezaei opened #92 "react native v0.66.3 with reanimated not supported"
Hi there,
thanks for this great package,
I tried to test reanimated with V8 but it crushes the app while opening:
[code]
I also tried your fork of reanimared (with changing reanimated arr from v0.65 to 0.66 :)) and this time got this error this time:
[code]
is it possible to fix this?

[2021-11-22 06:28] haozhutw commented on #40
What is the answer here? why close? @anchengjian Could you please share your findings? I want to know if we can still debug with chrome after integrating `react-native-v8`, thanks.

[2021-11-22 07:33] 452MJ commented on #88
try `NODE_OPTIONS=--max_old_space_size=8192 react-native start`
Running Polkadotjs requires a large amount of memory
Especially on the first run when the progress is stuck at 99%, it takes a while to get to 100%

[2021-11-22 07:42] Qallitix commented on #88
I think my issue is similar to https://github.com/Kudo/react-native-v8/issues/89 but I don't have time right know to test it, will test soon and close issue if it fixed.

[2021-11-23 20:02] jzxchiang1 commented on #89
This is awesome, thank you. I tested it in 0.65 and it works.

[2021-11-30 03:04] RodolfoGS commented on #92
Try removing `exclude "**/libjsc.so"` from your `android/app/build.gradle`

[2021-12-02 06:01] arasrezaei commented on #92
Thanks, but with this method Javascript thread runs with V8 and for example reanimated worklets run with JSC. (Am I right?)
And having two engines will result in a large app size!

[2021-12-02 06:39] jzxchiang1 commented on #92
I got the same exact error but with v0.65 of react-native-v8. Any help appreciated!

[2021-12-07 02:31] RodolfoGS commented on #92
@Kudo Do you know how to solve this? Thanks

[2022-01-11 14:53] NetPumi2 opened #93 "TypeError: action.apply is not a function"
Hallo,
I just implement v8 into our project and all works fine except storage library we are using [react-native-mmkv-storage](https://github.com/ammarahm-ed/react-native-mmkv-storage)

Our project shows us this issue: `[TypeError: action.apply is not a function]` in all functions like this
`
...
export const setItem = async (key: string, value: string): Promise<void> => {
  try {
    await MMKVwi

[2022-01-12 07:41] samjayhk commented on #64
@Kudo Could you help to add 0.66 support? Thanks!

[2022-01-25 18:01] lkinasiewicz commented on #92
@Kudo I have already made the necessary changes here: https://github.com/lkinasiewicz/react-native-reanimated/commits/v8/2.3.1 - the last two commits.
Please let me know if you can create `v8/2.3.1` branch in your repo so that I can make a pull request, or you can just cherry-pick my changes. I have tested this with RN 0.66.3 and works on Android (v8), Android TV (v8) and iOS (jsc). 0.65.2 should

[2022-02-04 21:13] Glaubenio commented on #31
@RZulfikri i'm having the exact same issue, any progress on solving this?

[2022-02-06 18:16] RZulfikri commented on #31
@Glaubenio no idea, I end up not using v8 in IOS.

[2022-02-07 05:08] Kudo commented on #31
i'm sorry not updating v8-ios for a while. i'm also curious what's the intention to use v8 on ios? even though neither JIT nor WebAssembly are supported on ios.

[2022-02-16 06:02] jzxchiang1 commented on #92
This is so painful to keep react-native, react-native-reanimated, and react-native-v8 all in sync.

I hope the reanimated team can officially support v8 soon. It's been months and haven't heard anything..

[2022-02-24 07:39] wangchongwei opened #94 "0.59.10-patch.6 v8-android: 8.80.0 ?"
my project react-native version: 0.59.10
Look at README
org.chromium:v8-android  should be 7.8.+
but  at
node_modules/react-native-v8/package.json
[code]

Is it right?

[2022-02-24 10:41] Strato opened #95 "Support RN 0.67"
你好,

Sorry to bother you. Do you have plan to support React Native 0.67 in the foreseeable future? It's been released a month ago already. Are you encountering any particular difficulties with it?

Thank you.

[2022-03-10 15:55] aleluiah commented on #95
am also curious been waiting for version 0.67 support for a while, the new fabric rendering in version 0.67 is a performance gain

[2022-03-14 16:02] Kudo commented on #94
fixed via https://github.com/Kudo/react-native-v8/commit/8163f99da377f478693be28d7ccfe2dbef046c76. thanks for your finding!

[2022-03-14 16:02] #94 closed

[2022-03-15 17:54] aleluiah commented on #95
thanks so much for your effort and contributions it means a lot to us

[2022-03-16 03:30] jzxchiang1 commented on #92
0.67 just got published - has anyone tried to see if it works with reanimated?

[2022-03-16 06:20] jzxchiang1 opened #96 "Will react-native-v8 support the new RN architecture?"
Like Fabric and TurboModules? I'm not sure if it needs any custom integration with a JS engine...

It [seems](https://reactnative.dev/blog/2022/03/15/an-update-on-the-new-architecture-rollout) like this year will be the year that the new architecture finally rolls out.

[2022-03-16 11:36] Kudo commented on #96
i think the answer is yes. the new architecture is based on JSI. there's no JSI difference between the old architecture and the new architecture.

[2022-03-16 11:36] #96 closed

[2022-03-19 01:21] jzxchiang1 commented on #96
Thanks. I would've thought that JSI would require some updates in the JavaScript engine for JavaScript objects to hold pointers to C++ structs... Maybe I'm misunderstanding... 🤔

[2022-03-22 18:35] jesse-savary commented on #31
@Kudo keeping things standardized, experimenting with performance, etc. We (try to) build our app against each Javascript engine for research purposes :)

[2022-03-22 18:57] Glaubenio commented on #31
@Kudo for me, it solves a performance problem with VirtualizedList on the default engine.

[2022-04-07 17:57] gpbaculio commented on #64
This simple animation crashes on Android Animated.View :(

[code]

[2022-04-08 10:52] Kudo commented on #64
@gpbaculio could you help to try the [new approach](https://github.com/software-mansion/react-native-reanimated/pull/3132#issuecomment-1092465333) for v8 + reanimated? it's not merged from reanimated but you can still preview by installing the node package from github. i use the new approach with your example code, it works for me 🤔

[2022-04-11 04:48] gpbaculio commented on #64
@Kudo seems the new approach works on the sample, but trying to add it on my current project does not. I get this error:

 was successfully found. However, this package itself specifies a `main` module field that could not be resolved (`/Users/glendonphilippbaculio/Desktop/marketplace-app/node_modules/react-native-reanimated/lib/Animated.js`. Indeed, none of these files exist

 it works if i impor

[2022-04-11 11:13] gpbaculio opened #102 "react-native-reanimated/package.json` was successfully found. However, this package itself specifies a `main` module field that could not be resolved"
I am using "react-native-reanimated": "github:Kudo/react-native-reanimated#support-v8"

I would get this weird error:

Error: While trying to resolve module `react-native-reanimated` from file `/Users/glendonphilippbaculio/Desktop/marketplace-app/index.android.js`, the package `/Users/glendonphilippbaculio/Desktop/marketplace-app/node_modules/react-native-reanimated/package.json` was successfully

[2022-05-05 09:51] Szymon20000 opened #104 "Is there any way for profiling JS with V8? For instance creating a flame graph like Hermes Profiler does it."

[2022-05-27 15:18] DorianMaz opened #113 "(Android) fatal error: 'folly/dynamic.h' file not found"
I can build app in the debug mode, but I can't build it for release mode.
Can someone help me?

[code]

[2022-05-27 15:41] DorianMaz commented on #113
Ok, it was caused by this -> https://github.com/Kudo/react-native-v8/commit/c7e50dd02088da6432b1606abf7742eeff94fe6d
I updated to 1.4.0, problem sovled

[2022-05-27 15:41] #113 closed, assigned to nobody

[2022-06-01 12:27] BrechtBD opened #115 "CMake build error due to incorrect absolute RN_DIR path"
I'm getting a cmake error when building the react-native application with react-native-v8 version 1.4.0

FAILURE: Build failed with an exception.

[code]

I believe it's because following piece of code returns the RN_DIR path using backward slashes (while it should be forward slashes?):
https://github.com/Kudo/react-native-v8/blob/11b0a6de66bcde8e39dd6b7cdd3b2b625b018776/android/build.gradle#L14-L

[2022-06-20 09:04] NiuGuohui opened #117 "Promise has some unusual behavior."
I plan to remove the `@babel/plugin-transform-regenerator` to implement a simplified package content.
After removing it, RN will use the native v8 Promise, but this Promise will not trigger when communicating with Native.

So, can I use the native Promise and other capabilities without metro-polyfill?

This is the `node_modules/metro-react-native-babel-preset/src/configs/main.js` file, which conta

[2022-06-22 18:43] devoren opened #119 "Syntax error in cmake code when parsing string"
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':react-native-v8:generateJsonModelDebug'.

    Syntax error in cmake code when parsing string
      C:\...\app\node_modules\react-native/ReactCommon/jsiexecutor/jsireact/JSIExecutor.cpp;C:\...\app\node_modules\react-native/ReactCommon/jsiexecutor/jsireact/JSINativeModules.cpp
    Invalid character escape '\w'.

[2022-06-22 19:56] RodolfoGS opened #120 "Couldn't find DSO to load: libv8executor.so"
I'm having a lot of errors in Crashlytics with the following stack trace, I don't know how to reproduce since in my device all works perfectly. This happens to some users in production and I noticed that **all devices are in Android 5**.

Devices affected:

<img width="645" alt="image" src="https://user-images.githubusercontent.com/870365/175124036-29c572cf-6b05-41bc-be1a-639f625d1e36.png">

<img

[2022-06-23 18:23] Kudo commented on #119
duplicated as #115. i'll update in #115 when there's a fix. thanks!

[2022-06-23 18:23] #119 closed

[2022-06-24 06:03] vbylen opened #123 "Build error"
I'm on expo v45 and get this when building the dev client through eas

[code]

[2022-06-24 12:23] #123 closed

[2022-06-25 06:36] vbylen commented on #123
Thanks!

On opening the dev client I'm now getting the error `couldn't find DSO to load libhermes.so`

I already made sure to set `jsEngine` to "jsc".

Any ideas how to fix it?

[2022-06-25 11:48] vbylen commented on #123
@Kudo the error disappears when I set jsEngine to "hermes". But then the engine is running on hermes and not v8.

Is maybe one of the libraries I'm using not supported?

[2022-06-26 15:58] Kudo commented on #123
it looks like expo-dev-client doesn't support other js engines. i'll add a task in expo internally. hopefully we can address the problem in next expo sdk.

[2022-06-29 08:54] ammarahm-ed opened #125 "Build fails on react-native 0.69"
Hey, the build on latest version of React Native keeps failing. I have tried to upgrade `build.gradle` & `CMakeLists.txt` files to add support similar to how react-native-reanimated has done but I still see errors during CMake build.

[code]
CmakeLists.txt
[code]
Build Error:
[code]

[2022-06-29 18:20] RodolfoGS commented on #120
@Kudo were you be able to test it on Android 5?

I couldn't because my Android Studio Simulator crash with that Android version (_The emulator process for AVD has terminated_), **not related to v8**, and I can't use Genymotion because it's not compatible with Apple M1

[2022-06-29 19:32] RodolfoGS commented on #120
Finally I could reproduce the crash using Genymotion Cloud running a Samsung Galaxy S6 with Android 5.0, it's super easy to reproduce. Just create an APK release and run on Android 5. It crash at start.

I tested with react-native 0.68.2 since 0.69 fails to compile.

I created a repo to reproduce but just consist in create a new react-native project, configure v8, create apk release and run on And

[2022-07-01 02:43] RodolfoGS commented on #120
According to this seems that the flag `--hash-style=both` fixes the issue:

Source 1: https://android.googlesource.com/platform/bionic/+/master/android-changes-for-ndk-developers.md#gnu-hashes-availible-in-api-level-23
Source 2: https://stackoverflow.com/a/53806411/1687136

@Kudo do you know where I need to put that flag? (`--hash-style=both`)

I tried putting in `node_modules/react-native-v8/andr

[2022-07-01 11:16] #104 closed

[2022-07-04 13:03] Kudo commented on #120
that's clever to use genymotion cloud. if that don't take too much time, could you help me to verify whether `v8-android-*@next`, e.g. v8-android-jit@next fixes the crash issue? i'm not pretty sure if [this change can fix the issue](https://github.com/Kudo/v8-android-buildscripts/commit/e66f1c86800a3b1ac07d37df3005d43df7564880)

[2022-07-04 17:06] RodolfoGS commented on #120
Woow that worked!! Tested `v8-android-nointl: 10.100.1` (next) and works perfectly on Android 5 (API 21)

[2022-07-04 18:36] Kudo commented on #120
awesome! thanks @RodolfoGS. everything looks good and i promoted 10.100.1 as latest.
i am going to close this issue. if there's any other problems, please create a new issue for me. thanks!

[2022-07-04 18:36] #120 closed

[2022-07-04 20:54] retyui opened #127 "Build-in polyfills or transformed features out of box"
I worked on table https://retyui.github.io/react-native-compat-table/ to compare JS features/engines

And found out, that some of them not available:

- `Promise.any` // TypeError: Promise.any is not a function
- `Promise.allSettled` // TypeError: Promise.allSettled is not a function

---

- async generator `async function* () { ... }`
- async iterable `for await (let value of range) { ... }` // T

[2022-07-23 14:13] Kudo commented on #125
close via b7e07262eb88e834629fc5167b4d12434f170ccc

[2022-07-23 14:13] #125 closed

[2022-07-24 06:25] aleluiah opened #129 "Support fabric and move from brigde to jsi"
we would love to see react native v8 support fabric and also use jsi instead of bridge

[2022-07-25 23:57] capezzbr commented on #129
A JS engine has nothing to do with the bridge. V8 does already supports JSI calls required to run RN 0.68 with new architecture enabled

[2022-07-27 20:47] #129 closed

[2022-07-27 20:50] aleluiah opened #130 "Invalid character escape '\C'."
Execution failed for task ':react-native-v8:configureCMakeRelWithDebInfo[arm64-v8a]'.

  Error while executing process C:\Program Files\CMake\bin\cmake.exe with arguments {-HC:\project\node_modules\react-native-v8\android -DCMAKE_SYSTEM_NAME=Android -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DCMAKE_SYSTEM_VERSION=21 -DANDROID_PLATFORM=android-21 -DANDROID_ABI=arm64-v8a -DCMAKE_ANDROID_ARCH_ABI=arm64-v8a

[2022-07-27 22:48] aleluiah commented on #130
seems like some cmake environment variables are improperly expanded

[2022-07-28 16:51] devoren commented on #130
duplicated as #115, its bug

[2022-08-04 09:40] roadmanfong commented on #123
Hi I just got into libhermes.so situation for expo-dev-client, is there any updates? thank you.

[2022-08-17 10:19] vijaydvk opened #131 "Invalid character escape '\R'."
Execution failed for task ':react-native-v8:configureCMakeDebug'.

    Syntax error in cmake code when parsing string

      D:\Reactnative\Projects\Live\wasteoftime\node_modules\react-native/ReactCommon/jsiexecutor/jsireact/JSIExecutor.cpp;D:\Reactnative\Projects\Live\wasteoftime\node_modules\react-native/ReactCommon/jsiexecutor/jsireact/JSINativeModules.cpp

    Invalid character escape '\R'.

[2022-08-21 14:45] Kudo commented on #117
hi there! do you mind to create a github repository of minimal reproducible example for me? because i've tried to disable Promise polyfill and regenerator runtime and it works for me.

[2022-08-21 14:46] Kudo commented on #130
duplicated issue as #115

[2022-08-21 14:46] #130 closed

[2022-08-21 14:46] Kudo commented on #131
duplicated issue as #115

[2022-08-21 14:46] #131 closed

[2022-08-21 14:46] #115 closed

[2022-08-21 14:54] Kudo commented on #127
hi there! as you mentioned, even v8 supports native Promise, react-native will still [polyfill Promise](https://github.com/facebook/react-native/blob/e0a71fc7b5cb8c264000147099be5b2575931193/Libraries/Core/polyfillPromise.js#L25-L38). how did you verify the Promise supportness for v8?

btw, the comparison looks promising. great job 🤩

[2022-08-24 09:31] OzymandiasTheGreat opened #133 "JSI fails to pass arguments js->c++ when on v8"
We have a large project using a lot of JSI C++ code. We've previously used Hermes and it all worked fine. To make interoperability between our node code and react native better we'd like to switch to v8.

So I followed the readme to a T and set up v8 (no INTL, no JIT). Everything seemed fine at first,
but when calling native code our app crashed with SIGABORT. After some digging I traced this to
f

[2022-08-24 14:43] Kudo commented on #133
hi there! i am happy to help, but it's hard for me to investigate a problem i cannot reproduce. could you help to provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) for me to further investigate?

[2022-08-24 14:45] OzymandiasTheGreat commented on #133
Thank you!
That's the thing tho, outside of our big project with custom configs everything works as expected :sweat_smile:
I'll try once more by copying our configs into a fresh project and let you know how it goes.

[2022-08-25 02:53] OzymandiasTheGreat commented on #133
So my plan didn't work out, but then I tried the reductive approach. Here's a sample as minimal as I could get it: https://github.com/OzymandiasTheGreat/v8-error

I started removing bits and testing 'till I could keep the error but have no extras.
This also allowed me to narrow the problem to libuv setup method in JSI bindings (`cpp/uv/uv.cpp:131`). It basically just sets up a separate thread to r

[2022-08-26 20:15] alfonsocj opened #134 "expo-updates and v8 cause app to crash on Expo SDK 46"
Hello, I'm having an issue trying to setup expo-updates with v8. I get the fatal error below when running Update from `expo-updates` or when importing `expo-asset` in the entry file.

I'm using Expo SDK 46, RN 0.69.4 and expo-updates 0.14.5.

[code]
I've tried to debug expo but I'm a bit lost.

[2022-08-26 21:07] alfonsocj commented on #134
I can't repro on RN 0.68 and Expo SDK 45.

[2022-08-29 06:14] Terfender opened #135 "RN 0.69.5 + Reanimated 2.10 on Android"
Hello, I am getting the following error. How to fix it?

MacOS: 12.5.1

package.json

[code]

[code]

[2022-08-29 10:18] Kudo commented on #135
hi there! i'm sorry that [the minimum support of react-native-v8@v1 is react-native 0.66](https://github.com/Kudo/react-native-v8#installation-for-react-native--066-1). please consider to upgrade your react-native if possible. thanks!

[2022-08-29 14:21] Terfender commented on #135
Thanks for the quick response @Kudo .
I am using RN 0.69.5, the latest stable version so far.

Please check my package.json and let me know if I am missing something.

Thanks again.

[2022-08-29 14:37] Kudo commented on #135
oh sorry i misread the description. let me reopen this and i'll check it.

[2022-08-30 11:49] #134 closed

[2022-08-30 14:35] lkinasiewicz commented on #135
Hi, I also have a problem with building reanimated 2.10.0 with react-native-v8@1.4.7 and react-native-tvos@0.68.2-6. Logs from android studio:

[code]

[2022-08-31 05:42] Kudo commented on #135
i've tried to build in on a rn 69.5 + reanimated 2.10 project and it works for me. could you provide a minimal reproducible example for me to further investigate?

[2022-08-31 14:09] Terfender commented on #135
@Kudo , thanks for looking into it.

Here is the bare minimum repo to reproduce the issue on my end.
https://github.com/Terfender/rnrn

[code]

BTW, in my local.properties, I set NDK version to 25.1.8937393 (I had to do it to get around with Reanimted building issue).
However, `react-native info` says I am using `Android NDK: 22.1.7171670`. Not sure if this conflict has anything to do with the err

[2022-08-31 15:53] Kudo commented on #135
@Terfender thanks for the help. unfortunately, i cloned the example with ndk 25.1.8937393 and it still works for me 🤔. i may get the problem from your build error log. it looks the linker was linking to your `/usr/local/lib/libglog.a`. could you double check whether you have this file and why this was installed?

[2022-08-31 16:21] Terfender commented on #135
worked after deleting `/usr/local/lib/libglog.a`
Not sure what it is used for. Created on January 14, 2019 tho

Thanks for your help.

[2022-08-31 16:21] #135 closed

[2022-09-06 00:55] zyc opened #136 "libfolly_runtime.so and the 2 files found with path 'lib/arm64-v8a/libfolly_runtime.so' issue"
After upgrading to `Expo 46`, `RN 0.69` and `react-native-v8` `1.4.7` I got the "2 files found with path" error on the project build using EAS.

Please folks, take a look at my `package.json` file:

[code]

And the gradle build output:

[code]

There was a similar problem with the `react-native-reanimated` and the `react-native-vision-camera` projects with the `RN 0.69` version, but them have alre

[2022-09-08 16:00] #136 closed

[2022-09-13 02:40] romanmiftakhur opened #140 "Invalid character escape '\p'."
node_modules/react-native/ReactCommon/jsi/jsi/jsi.cpp

    Invalid character escape '\p'.

[2022-09-16 17:56] Kudo commented on #123
fyi! expo-dev-client@1.3.0 + react-native-v8@1.5.0 should be compatible now.

[2022-09-25 01:22] Kudo commented on #140
hi there! please escalate more information how to reproduce the problem or even a minimal reproducible information would be great. i'll reopen this issue then. thanks!

[2022-09-25 01:57] Kudo commented on #133
sorry i have been late to response this issue. the reproducible example is great.

as far as i can tell for issue, because [the return statement here](https://github.com/OzymandiasTheGreat/v8-error/blob/549942b251f329f1318772dc650efdf870a93b85/cpp/raf/raf.cpp#L17-L20), any calls to `__hlp_raf.ANYFUNCTION()` (including the `__hlp_raf.setup()`) will go to this statement and it expects the first argu

[2022-09-26 10:56] zyc opened #144 "2 files found with path 'lib/arm64-v8a/libruntimeexecutor.so' from inputs"
Still trying to upgrading to Expo `46`, RN `0.69` and react-native-v8 `1.5.0` I got the "2 files found with path" error on the project build using EAS.

It seems to be a similar issue I've noticed here: [#136](https://github.com/Kudo/react-native-v8/issues/136#event-7349244156)

Please folks, take a look at my `package.json` file:

[code]

And the gradle build output:

[code]

Have someone did a w

[2022-09-26 10:57] zyc commented on #136
Similar issue in `react-native-v8` `1.5.0` version as reported here: #144

[2022-09-26 17:27] #144 closed

[2022-09-26 17:30] Kudo commented on #144
thanks @zyc for letting me know the issue. the fix is published in `react-native-v8@1.5.1`. hopefully it works for you.

[2022-09-27 05:17] OzymandiasTheGreat commented on #133
Oh boy, this is bigger than I thought. See, your workaround suppresses the error I'm getting, but `raf_stat` just returns it's arguments now. It's supposed to use `raf_stat` c++ implementation which calls libuv stat method. So basically all of our JSI implementations are replaced by a function that just returns it's arguments.

This works correctly on hermes, and I think jsc too, but it's been a w

[2022-09-28 12:56] Kudo commented on #133
could you share some insight how to test your example?

as i mentioned previous, because [the return statement](https://github.com/OzymandiasTheGreat/v8-error/blob/549942b251f329f1318772dc650efdf870a93b85/cpp/raf/raf.cpp#L17-L20), you just return the first argument as string. that's why `raf_stat` returns its arguments.

i also tested on hermes for your original example and it crashed.
the stackst

[2022-10-08 05:18] OzymandiasTheGreat commented on #133
Sorry for the delay, been swamped with other things.
Also, sorry, I messed up the minimal repro and got confused about it 😅

So we updated react-native version and I figured out that when we use macros in c++ debugger gives incorrect or at least incomplete stack trace.

So I remade the minimal repro, made sure it runs on hermes, and tried adding v8 again.
Everything above is irrelevant, either bec

[2022-10-08 16:30] Kudo commented on #133
that's a great repro, thanks @OzymandiasTheGreat!

i get to find a problem in my implementation. before publishing a fix, i would like to have your verification and make sure everything works as expected. could you apply the following patch and try again locally? you could use patch-package to apply to patch or simply edit the file.

_patches/react-native-v8+1.5.2.patch_
[code]

[2022-10-15 17:59] OzymandiasTheGreat commented on #133
I'm sorry, I can't test your patch. I spent all day today trying to do an android build, and it crashes on startup with `couldn't find DSO to load: libv8executor.so caused by: couldn't find DSO to load: libv8android.so`
The thing is this happens without the patch as well, I can't even build fresh clone from github 😞

[2022-10-20 10:01] euclidesdry opened #147 "Gradle sync failed: Please disable Hermes because Hermes will transform the JavaScript bundle as bytecode bundle."
I'm Getting an error that Hermes is enabled, but I verified that Hermes isn't enabled on the project:

My current Hermes configuration on `android/app/build/gradle` is:

[code]

My Sistem info:

[code]

[2022-10-20 10:11] euclidesdry commented on #147
I've noticed that up lines have another Hermes configuration, 80's lines:

[code]

[2022-10-20 10:11] #147 closed

[2022-10-24 11:06] jhen0409 opened #148 "UnsatisfiedLinkError issue on first build (React Native v0.69)"
<details>
<summary>See the error report</summary>

[code]
</details>

The first build doesn't seem to include the DSO files of react-native-v8, I see that the apk size is incorrect:

- First build or `./gradlew clean` + rebuild: apk size is 45.6MB
- Second build: apk size is 85.1MB and it works fine

I've create a example project for reproduce the issue, it just an initial project and followed [re

[2022-10-25 00:36] jhen0409 commented on #148
A temporary workaround for minimize compile time: `./gradlew extractSOFiles` before build app. I use it in our CI setup.

[2022-10-25 17:29] evelant commented on #104
@Szymon20000 did you find a way to do thi?

[2022-11-03 07:35] Kudo commented on #148
@jhen0409 could you share the full command and log for your first build?
e.g.
`./gradlew clean :app:assmebleDebug` is the command and `./gradlew clean :app:assembleDebug | tee build.log` to generate full build log

[2022-11-06 22:53] jhen0409 commented on #148
<details>
<summary>Build logs here (`./gradlew clean :app:assmebleDebug`)</summary>

[code]
</details>

If you want to see the build log with `--info`, I've put it in [here](https://github.com/jhen0409/react-native-v8-issue-on-0.69/blob/main/android/build-info.log).

[2022-11-07 11:02] gmaclennan opened #149 "RUNTIMEEXECUTOR_LIB set to NOTFOUND"
I am using react-native v0.66.5. I just updated to react-native-v8@1.5.2 from react-native-v8@0.66.3-patch.1 (because I was getting a v8 runtime error the update from react-native v0.66.4 to v0.66.5).

I am now getting a build error from gradle:

[code]

Google searches seem to return nothing for `RUNTIMEEXECUTOR_LIB`, so I'm not sure where to go next.

[2022-11-07 11:14] gmaclennan commented on #149
In case this is also useful information:

[code]

[2022-11-07 12:40] gmaclennan commented on #149
Minimal reproduction here: https://github.com/gmaclennan/RnTest_0_66_5

[2022-11-07 13:36] gmaclennan opened #150 "crash with null pointer dereference react-native v0.66.5"
Updating from react-native v0.66.4 --> 0.66.5 results in a runtime v8 crash in our app, with `react-native-v8@0.66.4-patch.0`.

As a solution I have tried updating react-native-v8 to v1.5.2 (we were using react-native@0.66.4-patch.0) but v1.5.2 does not seem to be working, reported in #149.

Unfortunately a [bare bones app](https://github.com/gmaclennan/RnTest_0_66_5/tree/react-native-v8%400.66.4.

[2022-11-07 13:58] gmaclennan commented on #149
Further info: In a minimal repro, everything works fine with react-native-v8@1.4.8, so this seems like a recently introduced change likely related to #144 and #145.

[2022-11-08 10:35] hackathon-user99 commented on #148
Any update on this issue?

[2022-11-08 23:10] capezzbr commented on #133
To fix that run `cd app/android && ./gradlew extractSOFiles && cd -`

[2022-11-08 23:24] capezzbr commented on #133
@Kudo I've applied your patch, and the crash now doesn't seem to be coming from V8 anymore, but the app does still crash

[code]

I am also using a different test case, where I basically have a JS issue

![image](https://user-images.githubusercontent.com/3534630/200697440-c626ca3b-5e9e-4592-861d-2cdb34abc172.png)

hope this helps 👍

[2022-11-12 01:00] jhen0409 commented on #148
@Kudo I confirm #151 fixed this issue. Thanks!

[branch for patch #151](https://github.com/jhen0409/react-native-v8-issue-on-0.69/tree/patch-v8-pr-151)

[2022-11-12 02:54] #148 closed

[2022-11-12 03:00] Kudo commented on #148
@jhen0409 thanks for the great help. published react-native-v8@1.5.3 with the fix 🚀

[2022-11-16 06:39] wangchongwei opened #153 "react-native change maven center from November 4th 2022."
Hello,

https://github.com/facebook/react-native/issues/35210

react-native: 0.59.10
react-native-v8: ^0.59.10-patch.6
implementation 'org.chromium:v8-android:8.80.+'

when react-native change maven center from November 4th 2022.

i update android/build.gradle:

[code]
build success, but app start, get error :
   java.lang.UnsatisfiedLinkError: couldn't find DSO to load: libreactnativejni.so cause

[2022-11-16 17:05] capezzbr commented on #153
Run

`rm -rf node_modules/react-native-v8/android/build` then cd into your Android app directory and run `./gradlew extractSOFiles`

[2022-11-17 02:49] wangchongwei commented on #153
@capezzbr
thank you.
but i use react-native-v8 version : ^0.59.10-patch.6
react-native: 0.59.10

1、`node_modules/react-native-v8/`  folder android does not exist
2、`run ./gradlew extractSOFiles`   Task 'extractSOFiles' not found in root project '***'

What other work can I do, can you give me some advice？
thank you again.

[2022-11-18 16:30] Kudo commented on #149
sorry for the breaking change. just notice the runtimeexecutor was not a shared library until react-native 0.68. will have a fix this week.

[2022-11-18 17:30] #149 closed

[2022-11-19 00:48] Kudo commented on #153
@wangchongwei the https://github.com/facebook/react-native/issues/35210 should be resolved even without the android/build.gradle. could you try to remove the patch and try again?

[2022-11-19 00:50] Kudo commented on #149
react-native-v8@1.6.0 includes #154 and should fix the problem for you. thanks for reporting this issue.

[2022-11-19 00:52] Kudo commented on #150
hi, it's worth to try react-native-v8@1.6.0 which resolved #149.

[2022-11-20 12:42] retyui commented on #127
not relevant any more

[2022-11-20 12:42] #127 closed

[2022-11-21 03:25] wangchongwei commented on #153
@Kudo
thank you.
i tried.
but when i remove v8, the jsc error show again.

in last year, i found some jsc error  by firebase, then i know react-native-v8, and i use it.

It solved the problem perfectly.

But now, they can't work together

thank you again.

[2022-11-22 09:36] Kudo commented on #153
i am not quite understanding your problem. do you mean which two modules cannot work together, jsc + v8 or firebase + v8? if you have some minimal reproducible example, i could help to further investigate.

[2022-11-28 05:18] SmirnovM91 commented on #153
+